[2014-10-21 06:23] kristianmandrup opened #1 "Getting started guide"
Thanks for the great project :)

Please write a short Getting Started guide in the README.

[2014-11-12 16:05] #1 closed, assigned to nobody

[2014-12-09 18:52] johnnyshields opened #8 "Model test `needs` block is too needy?"
(Apologies if this isn't the right forum, trying to get Ember-CLI-Mocha up and running)

I have a fairly simple model `User` which belongs to `Shop`

[code]

Shop is a fairly complex model however. In my mocha test `needs: []` block I end up specifying not only `model:shop` (as expected), but also all of Shop's dependencies. If I don't then, I get:

[code]

Specifying an inverse relation as follow

[2014-12-10 06:07] #8 closed, assigned to nobody

[2014-12-29 21:56] SirZach opened #10 "testing non-container objects"
I have some utility classes that are not Mixins, Routes, Controllers, Models etc that I want to unit test. When I use <code>describeModule</code>, I get

[code]

I tried importing just a regular <code>describe</code> but that was a no-go. Any help here would be greatly appreciated. Thanks!

[2014-12-29 22:13] #10 closed, assigned to nobody

[2015-02-06 16:59] cowboyd opened #14 "consider deprecating callbacks"
`describeModule` and friends accept a list of callbacks. E.g.

[code]

After using ember mocha for a while, I feel that using the callbacks mechanism is unnecessary and a result of limitations in qUnit leaking through the shared interface. The reason is because, unlike qUnit, mocha has a generalized setup and teardown api in the form of `before{All,Each}` and `after{All,Each}` hooks, I have yet to

[2015-02-06 17:58] rwjblue commented on #14
@cowboyd - As long as the context of `{before,after}{All,Each}` is the same as the `it` blocks (I believe it should already be true), then I'd say lets review a PR in ember-cli-mocha changing the blueprints...

[2015-02-06 18:01] rwjblue commented on #14
Hmm, it seems that the `beforeEach`/`afterEach` (etc) callbacks do not get the same test context.

https://github.com/switchfly/ember-mocha/blob/master/lib/ember-mocha/mocha-module.js#L21-L37 is where the callbacks are setup, and it does not seem that we are overriding these to set the proper context.

[2015-02-06 18:01] cowboyd commented on #14
It does as of #6,

I'll open an issue on ember-cli-mocha and see if I can get around to it at some point.

[2015-02-06 18:07] rwjblue commented on #14
@cowboyd - Awesome, I did not see that.  I think we should have some tests for #6 to ensure it works properly (I reviewed the tests to see if it were supported).  For example I added some tests confirming context in https://github.com/switchfly/ember-test-helpers/pull/12, maybe they could be used to ensure #6 does not have regressions...

[2015-02-12 03:26] corydobson opened #21 "Overwriting application to use DS.FixtureAdapter in start-app.js"
### Hi Ember Mocha Team!

I'm having real problems trying to switch out the adapters for my test application. I'm using Ember CLI and Ember CLI Mocha.

It is better described on my Ember-CLI issue here -> https://github.com/ember-cli/ember-cli/issues/3249

I've also tried
[code]
with no luck. :( Is there something I'm missing here? Or is this part of a larger issue?

[2015-02-12 17:49] corydobson commented on #21
cc/ @dgeb

[2015-02-12 19:06] dgeb commented on #21
@corydobson hey Cory - check out [my response](https://github.com/ember-cli/ember-cli/issues/3249#issuecomment-74130938) to your ember-cli issue and let me know if you run into problems with either approach.

[2015-02-12 19:06] #21 closed

[2015-02-13 18:53] rwjblue opened #22 "Provide a `mocha` module shim."
Basically, add a top level `mocha` module so you can do:

[code]

Similar to what was introduced in ember-qunit in https://github.com/rwjblue/ember-qunit/pull/132.

[2015-02-22 18:49] dgeb commented on #22
Closed via #23

[2015-02-22 18:49] #22 closed

[2015-03-03 07:21] SaladFork opened #24 "Test failures report `[object Object]` rather than error message"
Using `ember-cli-mocha@0.5.0`, generated an acceptance-test from the blueprint (`ember g acceptance-test load-main-page`). It visits a nonexistent route and compares `currentPath()` to a string:
[code]

Expected to see the error message thrown by Ember:
![Ember error message](https://cloud.githubusercontent.com/assets/107798/6457949/6d075458-c132-11e4-9730-97f0c74b84e3.png)

Instead, see just `[ob

[2015-03-04 18:55] SaladFork commented on #24
Probably related: ember-cli/ember-cli#3416

[2015-03-09 18:29] kiwiupover opened #25 "Ember testing helpers not found"
I'm not able to uses the ember helpers `andThen` or `click` when I use ember-mocha and ember-cli-mocha. This this a bug or a feature?

[2015-03-09 18:55] rwjblue commented on #25
The `andThen`, `click`, etc helpers are only available in acceptance tests (which are not provided by ember-mocha and ember-cli-mocha).

[2015-03-09 20:27] kiwiupover commented on #25
Thanks Robert @rwjblue

[2015-03-09 20:28] #25 closed

[2015-03-10 20:59] kiwiupover commented on #25
@rwjblue I was reading this doc
http://emberjs.com/guides/testing/testing-components/#toc_interacting-with-components-in-the-dom

And it is out dated in that is shows the testing helpers `andThen` and `click` should I update the doc?

[2015-03-10 21:18] rwjblue commented on #25
Yes, please.  It will need to be updated in both `emberjs/website` and `emberjs/guides` (we are in a transition period).

[2015-03-11 20:24] dgeb opened #26 "Add integration test module"
Expose the integration test module from https://github.com/switchfly/ember-test-helpers/blob/master/lib/ember-test-helpers/test-module-for-integration.js

[2015-03-24 17:34] Chun-Yang opened #28 "Set 'timeout' globally?"
In mocha, we can set global timeout by adding `test/mocha.opts` file:

[code]

Is there a way to do this in ember-mocha?

[2015-03-25 15:01] blimmer opened #30 "Publish 0.6.0 on NPM"
The current version [on NPM](https://www.npmjs.com/package/ember-cli-mocha) is about a month old. Could someone publish 0.6.0 on NPM?

[2015-03-25 21:28] blimmer commented on #30
Crap, I meant to post this on ember-cli-mocha. My apologies.

[2015-03-25 21:28] #30 closed

[2015-03-31 14:25] danielspaniel opened #33 "acceptance testing window like qunit"
Well.. The issue is when I switched from Qunit to Mocha, the acceptance tests where I "visit('/soandso')"  no longer put the output into a window on the side as Qunit did.

 Before mocha installation there was this in the test_helper.js file:

[code]

Could that have made the difference?
What do I have to do to put mocha acceptance testing html into it's own 'irfame' ??

[2015-03-31 18:49] danielspaniel commented on #33
I found this url: https://github.com/WMeldon/ember-cli-
todos/blob/125f28a734b5f600b83420d64b92bab1ea17c8ed/tests/index.html

and added the css for the #ember-testing-container .. and that did it.

 I notice there there is no css for ember-mocha project. Maybe this kind of css should go in there?
 Not sure if I am missing something though.

[2015-04-07 18:51] drapergeek commented on #26
I've started using `ember-mocha` on a new project this week and my acceptance/integration tests don't seem to respect `andThen` in mocha, I've been forced to use the `done()` option which is not expected. Is this missing module that answer to that issue?

[2015-04-08 20:45] blimmer commented on #28
I would also love to know how to do this.

[2015-04-09 15:58] aaronrenner opened #34 "How to test serializers?"
I'm having difficulties trying to test my custom serializer and I am looking for suggestions

app/serializer/company.js

[code]

tests/unit/serializers/company-test.js

[code]

This gives me the follow error

[code]

I am thinking I might need to switch to using describeModel so that the store is loaded, but I ran into issues when I tried that too. I am on ember-mocha-0.6.2. Any suggestions would

[2015-04-19 05:54] wongpeiyi commented on #28
I could do this in my test-helper.js
[code]

[2015-04-20 14:41] jimmay5469 commented on #28
Thanks @wongpeiyi, this worked for me as well!

[2015-04-21 19:55] grantovich commented on #28
I'm also looking for a way to set or disable the timeout globally. Just tried @wongpeiyi's solution, but it did not work for me (the timeout was still 2000ms). Is there a trick besides just adding that code to your `test-helper.js`?

[2015-05-14 08:04] bjornstar opened #36 "Minor version bump, please."
When you update dependencies with major version bumps, the least you can do is bump your minor version. That way you're not breaking the builds of people who only allow patch level changes.

chai 1.10 to 2.3.0 is a major version bump
mocha 2.1.0 to 2.2.4 is a minor version bump
ember-test-helpers 0.4.3 to 0.4.4 had [a painful oversight] (https://github.com/switchfly/ember-test-helpers/issues/47)

[2015-05-14 12:02] dgeb commented on #36
Sorry about this.

I've deleted v0.6.3 of ember-mocha from [ember-mocha-builds](https://github.com/switchfly/ember-mocha-builds).

I've pushed v0.7.0 of both ember-mocha and ember-cli-mocha.

[2015-05-14 12:02] #36 closed

[2015-05-14 12:04] dgeb commented on #26
@drapergeek I've been successfully using `andThen` in my acceptance tests. I will publish an example repo soon.

Closing this issue now that the vanilla integration test module has gone away, so it no longer needs to be exposed.

[2015-05-14 12:04] #26 closed

[2015-05-14 12:07] dgeb commented on #33
Please try with the latest ember-mocha and ember-cli-mocha (both v0.7.0) and call `ember g ember-cli-mocha`. Let me know if you continue to have any styling problems.

[2015-05-14 12:07] #33 closed

[2015-05-14 18:39] natecox opened #37 "Setting test reporter"
This may be a dumb question, but how would I go about changing the test reporter for ember-mocha? I'm not a big fan of the basic reporter being used by `ember test` but can't seem to find documentation on how to go about changing it.

[2015-05-14 22:04] nurazem commented on #37
:+1: I'm looking for the exact same thing. http://mochajs.org/#reporters states that only this reporter is supported by Mocha. This reporter doesn't work well for me because I can't scroll on the tests page and 'hide passed tests' option has no effect on the output.

[2015-05-14 23:32] natecox commented on #37
@nurazem I did some research on this and found that ember is actually using the testem package to run its tests, which comes with a limited number of reporters.

My `testem.json` file currently looks like this:

[code]

The options for reporter are:
* tap
* xunit
* dot
* teamcity

I'm using `tap`, which is the default option and seems to be the best of the available options. `dot` may be of intere

[2015-05-22 18:54] mattmarcum opened #38 "Unit testing routes?"
Hi, I'm trying to unit test a route using ember-mocha.  On the guides they show how to do this with the default q-unit framework, but I'm not sure ember-mocha is acting the same way.  In the guide example `this.subject()` will return an instance of the module being tested.  When I try to us emeber-mocha with a describeModule('route:someRoute'...)  `this.subject()` returns the class and not an inst

[2015-06-15 20:51] sethpollack opened #40 "Context"
Can you export the `context` keyword as well?

[2015-06-24 17:27] blimmer opened #41 "integration tested components do not respond to jquery DOM events like qunit"
It seems that there's a difference between ember-mocha and ember-qunit, in handling jquery-triggered DOM events in an `integration: true` test.

DOM event triggers work in qunit:
- [PR with additional passing tests to ember-test-helper](https://github.com/switchfly/ember-test-helpers/pull/66/files#diff-7d23635c0b737f5e0d44ff0d95a9c20cR93)
- [Example App](https://github.com/blimmer/ember-working-in

[2015-06-25 16:23] blimmer commented on #41
@slindberg found a workaround for this on [this PR](https://github.com/blimmer/ember-broken-integration-tests-mocha/pull/1). It makes the tests pass, but he has to wrap it in an `Ember.run`. This is a decent workaround for others experiencing this problem, but it seems like the behavior should be the same between Qunit and Mocha.

[2015-06-25 17:03] dgeb commented on #41
@blimmer @slindberg that's a great start for getting to the bottom of this. Thanks!

[2015-06-26 20:50] slindberg commented on #41
I suspect this issue might be at the adapter level. @teddyzeenny can you shed some light on this?

[2015-06-27 11:56] teddyzeenny commented on #41
The adapter is responsible for handling async tests and exceptions. I don't think triggering DOM events in integration tests is adapter related. Even though unlikely, if it does turn up to be an adapter issue, I'm happy to work on a fix.

[2015-07-06 09:51] sly7-7 opened #42 "Consider sync with ember-test-helpers"
In order to avoid the deprecation warning about Ember.keys.
related: https://github.com/switchfly/ember-test-helpers/pull/71

[2015-07-06 23:31] rwjblue commented on #42
ember-qunit@0.4.1 is released with those changes.  Would you mind submitting a PR to update ember-test-helpers?

[2015-07-07 11:27] #42 closed

[2015-07-08 00:22] #40 closed

[2015-07-09 18:48] mmahalwy commented on #37
@natecox I cannot get the 'dot' reporter to even work :(

[2015-07-09 19:28] mmahalwy commented on #37
So i discovered you can indeed change the reporter by
[code]

In your test-helper.js. But its still a pain as there is no good html reporters...

[2015-07-10 01:29] hwhelchel opened #44 "Why is it advised to set the resolver once for tests?"

[2015-07-11 07:06] #24 closed

[2015-07-20 11:58] rwjblue opened #46 "Update to ember-test-helpers 0.5.2."
Required to add compat for Ember 2.0.0-beta.3.

[2015-07-23 17:56] mattmcmanus commented on #28
The conversation here isn't clear. @wongpeiyi What other setup do you need in your test-helper for that to work? Is there anyway to increase the timeout a bit? the 2 second timeout constantly triggers for me if my browser's been open for a while.

[2015-07-23 21:50] jamesdixon commented on #26
@dgeb when using `andThen` in your acceptance tests, do you still need to call `done()`? I'm seeing some strange behavior where in the console-based Testem runner, I see that there was a timeout in my test, yet on the web-based Testem runner, it's passing. Any ideas?

[2015-07-23 21:51] jamesdixon commented on #26
As a follow-up, I'm only seeing the timeouts in the PhantomJS runner and not in Chrome.

[2015-07-24 04:35] wongpeiyi commented on #28
I'm sorry, I can't guess why it wouldn't work. That was on ember 1.11 and ember-mocha 0.6.2, no other setup needed.

The documentation is here: http://mochajs.org/#browser-configuration
I agree it's not a good solution though.

[2015-08-04 13:37] oliverbarnes opened #49 "Using ember-mocha without Ember Data"
I'm using [ember-jsonapi-resources](https://github.com/pixelhandler/ember-jsonapi-resources) instead of ED, and am having trouble using ember-mocha to test a model. Tried `describeModel`, `describeModule`, and `describe` blocks, each time running into different problems loading the test and recognizing the helpers.

Looking at the source, though I'm still far from understanding what's going on the

[2015-08-04 14:04] rwjblue commented on #49
* What are you trying to test?
* What version of ember-mocha are you using?

They are not directly coupled, but the `describeModel` here (and upstream in ember-test-helpers) make a few assumptions that are ED specific.  I'm absolutely in favor of abstracting a common interface for this stuff, but would need one of the authors of an alternative framework to step up and offer to help out with this.

[2015-08-04 15:25] oliverbarnes commented on #49
I'm happy to help with this, but would need guidance in the changes that need to be done. Would be a great way to boost my ember fu, which is pretty white belt at the moment

[2015-08-04 16:02] pixelhandler opened #50 "[Question] Does a test module provide access to the container?"
I'd like to use `this.container` in tests (ember-qunit) does this. I'm not sure if ember-mocha does the same.

Using Ember Mocha how can I access the container in an unit test?

This is the Unit test I have as a blueprint for an addon: https://github.com/pixelhandler/ember-jsonapi-resources/blob/master/blueprints/model-test/files/tests/unit/__path__/__test__.js however a consuming app may not use

[2015-08-04 16:18] oliverbarnes commented on #49
cc @pixelhandler

[2015-08-04 16:38] rwjblue commented on #50
All of the context props from ember-test-helpers are setup [here](https://github.com/switchfly/ember-mocha/blob/master/lib/ember-mocha/mocha-module.js#L26-L33). That should include `this.container` and `this.registry` (though both of those are technically private).

[2015-08-04 16:39] rwjblue commented on #50
Can you provide an example scenario, where `this.container` is not setup properly?

[2015-08-04 17:16] pixelhandler commented on #50
@oliverbarnes can you link to your test here?

[2015-08-04 17:34] oliverbarnes commented on #50
sure, here it is - it's the same one I posted on slack: https://github.com/oliverbarnes/participate/blob/supporting-a-proposal/tests/unit/models/proposal-test.js

[2015-08-04 17:36] oliverbarnes commented on #50
Right now I'm hitting an error previous to the missing container one, though:
[code]

[2015-08-04 17:49] rwjblue commented on #50
ember-mocha does not export `describe`.  `describe` is the default `mocha` describe, and if you want the vanilla version you can import it as `import { describe } from 'mocha';`, but it looks like you actually want `describeModule` which is exported by ember-mocha (and should have `this.container` set properly on the context).

[2015-08-04 18:37] oliverbarnes commented on #50
thanks @rwjblue that's good to know. I'm now trying

[code]

And the test seems to load. I'm avoiding using the container and creating the resource directly, I'll keep you both posted

[2015-08-04 18:41] oliverbarnes commented on #50
Actually there's a loading problem again, but with `before` and `beforeEach`:

[code]

Though I'm importing both:

[code]

@pixelhandler is cloning my repo and taking this for a drive, let's se what comes up. I'm probably doing something not that bright somewhere ;)

[2015-08-04 19:21] pixelhandler commented on #50
@oliverbarnes so `this.container` does work with `describeModule` see https://github.com/oliverbarnes/participate/pull/101  but I was not able to figure out how to use before/after or beforeEach/afterEach with `describeModule`.

[2015-08-04 19:21] #50 closed

[2015-08-04 20:15] pixelhandler commented on #49
@rwjblue In ember-jsonapi-resources (an ember-cli addon) for data persistence following the JSON API spec I use `service:store` (so does Ember data) and use initializers to register model factories in the container like so `application.register('model:authors', Model, { instantiate: false, singleton: false })` ( `Model` is an import e.g. `import Model from '../models/author';` ).

I had trouble us

[2015-08-06 18:45] gzurbach opened #51 "Test failure after promise rejection"
I'm writing acceptance tests for a page that contains form validation (using [ember-validations](https://github.com/dockyard/ember-validations/)).

On submit, I call a `validate()` method that triggers the form validation. That method returns a promise:
[code]
The acceptance test verifying that the form shows actual error messages fails unless I rewrite the above code this way:
[code]
So it looks

[2015-08-07 22:27] pixelhandler opened #52 "[Question] Using a globals release of ember-mocha is it necessary to setResolver?"
Question: If I were using ember-cli I would need to use the resolver from ember-cli/test/helpers/resolver like so:

[code]

But If I'm using a globals release of ember-mocha say for rails + ember using Konacha do I even need to set a resolver using ember-mocha `setResolver`?

related docs: http://guides.emberjs.com/v1.10.0/testing/unit-test-helpers/

[2015-08-10 04:30] jamesdixon opened #53 "Issues with async code"
Hi Everyone,

I'm battling with an issue where I receive the following error when running an acceptance test on my registration code:

`Error: Uncaught Error: Assertion Failed: You have turned on testing mode, which disabled the run-loop's autorun. You will need to wrap any code with asynchronous side-effects in a run`

Here's my test:

[code]
And finally, here's the code that's running in the con

[2015-08-12 22:30] blimmer commented on #53
You need to do what it's telling you to do :trollface: .

But really, this issue would happen in ember-qunit, too. You're going to need to wrap **any code with async effects** in `Ember.run`.

A cursory look at your code shows a few places you'll need to use an `Ember.run`:
- The `createRecord`
- The `jQuery.post`

To do this correctly, put it in an `Ember.run` like this:

[code]

[2015-08-12 23:30] jamesdixon commented on #53
Thanks for the help, @blimmer! It turns out that this isn't a `ember-mocha` issue at all. Instead, it appears that Ember doesn't know about jQuery promises. Therefore I needed to either wrap my jQuery call in a promise or wrap the calls in `then()` with `Ember.run()`.

[2015-08-12 23:30] #53 closed

[2015-08-13 15:33] #46 closed

[2015-08-19 18:53] devinus opened #54 "ember-mocha destroys component before done() is called in integration test"
[code]

[2015-08-27 20:17] mattgrannary opened #56 "ember-test-helpers 0.5.9"
Has a new build been released that includes the fallbackRegistry feature? Really need this functionality for a component integration test.

switchfly/ember-test-helpers#96

[2015-08-27 20:19] rwjblue commented on #56
I don't believe that a tagged build has been done yet, but I just merged https://github.com/switchfly/ember-mocha/pull/55 so you should be able to grab a canary build.

[2015-08-27 23:52] mattgrannary commented on #56
:+1: Awesome. This fixes a major roadblock I was having setting up proper integration tests for my components.

[2015-08-28 01:29] dgeb commented on #56
v0.8.2 has just been released. Thanks for the nudge. :shipit:

[2015-08-28 01:29] #56 closed

[2015-09-09 13:24] efx commented on #34
FWIW, I copied ember-data's `setupStore` utility to recreate DS models appropriately. (https://github.com/emberjs/data/blob/master/tests/ember-configuration.js#L53)
The setup for the suite
[code]
Then in a test I call:
[code]
The `setupStore` utility makes it so that I can actually use the ember-data models and methods without having to  stub every method.

[2015-09-25 02:04] kswilster opened #61 ""set" method undefined when using needs"
The `set` method on a test case is `undefined` when using needs. this simple test case passes when the need for the store is removed. `this.subject` and `this.render` still function in the scope of the test case

Test case:

[code]

Results:

[code]

[2015-09-28 10:32] mupkoo commented on #28
I tried this and the interesting part is that you have to use the global mocha object.
When ever you do one of the following, it is not working

[code]

[2015-09-30 13:07] signal-intrusion commented on #26
Me too. Timeouts in PhantomJS usually only on the first acceptance test, even when calling `done()`.

[2015-09-30 20:46] ivanvanderbyl commented on #61
Did you ever get this working @kswilster ? I've got the same issue.

[2015-10-02 18:15] toddjordan opened #63 "Use new ember-test-helpers release featuring this.register and this.inject.service"
@rwjblue I believe we just need to bump the dependency version and cut a release

This will allow users of ember-mocha to take advantage of the new public way to stub services in component integration tests

[2015-10-02 18:17] toddjordan commented on #63
See PR https://github.com/switchfly/ember-mocha/pull/62

[2015-10-02 19:37] rupurt opened #64 "Can't run acceptance tests"
Howdy @mattmcmanus & @rwjblue,

We've managed to get ember-mocha working nicely for our unit tests but have had no such luck on the acceptance tests :frowning:

We get the following error

[code]

For this basic test

[code]

Are acceptance tests supported and if not, do you have any suggestions for where we to start if we wanted to add support?

[2015-10-06 12:47] toddjordan commented on #63
PR's been merged, I believe this can be closed.

[2015-10-06 12:47] #63 closed

[2015-10-22 15:08] mupkoo commented on #33
I have the following things in my test helper file

[code]

Having this allows me to navigate to `?nocontainer` to hide the container and use the mocha buttons to filter only the failing tests.

[2015-11-03 13:50] taheilo commented on #54
Any solution to this issue?

[2015-11-03 16:51] devinus commented on #54
@taheilo I have no solution. I think this might be a problem within `ember-mocha` itself.

[2015-11-03 18:16] rwjblue commented on #54
Can someone provide a reproduction?

[2015-11-03 18:17] rwjblue commented on #54
You can use http://emberjs.jsbin.com/genolo/edit?html,js as a base for a quick demo, or make an ember-cli app.

[2015-11-04 12:19] taheilo commented on #54
I've been trying to replicate the scenario (sort of) that im using.

http://emberjs.jsbin.com/tawewokaja/edit?js,console,output

The key is to apparently return the promise. It's still not working in my real setup where the promise comes from a simple auth authentication:

[code]

I figure it's related to something else in my case; but I'm not quite sure what the issue is yet.

[2015-11-11 16:41] Fryie commented on #61
I had the same problem, but turns out I was just using an outdated version of ember-mocha, so upgrading should help.

[2015-11-17 10:18] renato-zannon opened #66 "v0.8.7 release is actually v0.8.6"
Even though [`ember-mocha-builds`](https://github.com/switchfly/ember-mocha-builds) contains a tag for the v0.8.7 release of ember-mocha, the built assets there correspond to the v0.8.6. Notably, v0.8.6 has some issues regarding integration testing of components on ember canary which v0.8.7 fixes, which is why is was investigating this in the first place :)

[2015-11-17 12:09] rwjblue commented on #66
Thank you for reporting. Will get this fixed ASAP.

[2015-11-18 01:48] renato-zannon commented on #66
@rwjblue thank you!

[2015-12-08 01:01] spinlock99 opened #67 "afterEach block in describeComponent"
I'm having trouble running an `afterEach` block inside a `describeComponent` block:

    /* jshint expr:true */
    import { expect } from 'chai';
    import {
      describeComponent,
      afterEach,
      it
    } from 'ember-mocha';
    import sinon from 'sinon';

    describeComponent(
      'table-header',
      'TableHeaderComponent',
      {
        // Specify the other units that are requ

[2015-12-08 02:37] rwjblue commented on #67
`afterEach` isn't exported from `ember-mocha` module ([see here](https://github.com/switchfly/ember-mocha/blob/master/lib/ember-mocha.js#L7-L13)), it is exported from `mocha` module ([see here](https://github.com/switchfly/ember-mocha/blob/master/lib/mocha.js#L70-L79)).

_tldr;_ change to use `import { afterEach } from 'mocha'`

[2015-12-08 02:38] rwjblue commented on #67
We have been discussing (in ember-qunit) to export all the things from the main module, the current exports are non-obvious and folks generally get tripped up (like you have reported here) initially.

[2015-12-08 15:16] rwjblue commented on #67
I'm fairly sure the above will fix the issue for you, so I'm going to go ahead and close for now...

[2015-12-08 15:16] #67 closed

[2015-12-08 17:54] Robdel12 commented on #64
Is there a place you could isolate this error? I'd like to see the stack of the error. There's something else going on here.

[2015-12-08 18:32] spinlock99 commented on #67
That was exactly the issue. Thanks so much for your help.

[2015-12-16 16:03] lolmaus opened #68 "Unlock Mocha dependency"
`ember-mocha/bower.json` has `mocha` locked at `2.2.x`. Is there a reason for that?

There is at least one [annoying bug](https://github.com/switchfly/ember-cli-mocha/issues/90) that has been fixed in Mocha `2.3.x`.

Please upgrade.

[2015-12-16 16:34] lolmaus commented on #68
I've submitted a PR: #69 .

***

Meanwhile, the workaround is to update `bower.json`. Thank druids, Bower's dependency list is flat. You wouldn't be able to pull that out with npm.

[code]

[2015-12-21 23:47] devinus commented on #41
It is damn near impossible to integration test components with Mocha right now.

[code]

This code is calling my `changeStack` action on the component but not my `on` hander.

[2016-01-05 01:18] blimmer commented on #41
I agree with you @devinus - I really wish there was a better solution than this (especially because acceptance tests have such convenient methods `click`, `fillIn`, etc.)

Based on the acceptance test flavors, I've derived some helpers we use. Perhaps they will help you:

[code]

[2016-02-01 03:59] justin-lau opened #71 "Tests fail with v0.8.9"
With the following logs:

[code]

[2016-02-01 11:17] sly7-7 commented on #71
I encounter the same. Locking to the previous version (0.8.8) is the workaround for now.
@rwjblue So it seems to be related to the update of ember-test-helpers (this looks like the only difference between the two last releases).
The root error here seems to be that it cannot find the module 'ember-mocha'. I don't know how to go further

[2016-02-01 12:45] rwjblue commented on #71
Can someone put together a demo repo that I can test with?

[2016-02-01 13:24] sly7-7 commented on #71
@rwjblue it's here: https://github.com/sly7-7/ember-mocha-bug

It's just an empty new app, with ember-cli-mocha installed.

launch ember test and the error is:

[code]

[2016-02-01 13:33] sly7-7 commented on #71
This line https://github.com/switchfly/ember-test-helpers/blob/master/lib/ember-test-helpers/test-module-for-acceptance.js#L19 is throwing `Uncaught SyntaxError: Unexpected token {`

Is this a compiler compatibilty problem, or something like that ?

[2016-02-01 13:37] rwjblue commented on #71
Most likely this is not being babel transpiled properly.  I'm digging into it now...

[2016-02-01 13:42] mupkoo commented on #71
@rwjblue I think this is the problem as well.

This is from the `bower_components/ember-mocha/ember-mocha.js`

[code]

[2016-02-01 13:47] rwjblue commented on #71
Yep, I had made some changes to the ember-qunit build pipeline to allow us to use ember-test-helpers internally, but I forgot that I hadn't also updated the ember-mocha pipeline.

I'm working on updating right now, and will hopefully have a 0.8.10 published in the next hour or so....

[2016-02-01 14:35] rwjblue commented on #71
Released 0.8.10 with the corrections from #72. I'll reopen this until someone can confirm that things are working properly again...

[2016-02-01 14:51] pavloo commented on #71
@rwjblue I had problems with an update from `0.8.8` to `0.8.9` (my `ember test` command simply hanged after `Built project successfully.`). But with `0.8.10` everything works fine :+1:

[2016-02-01 14:53] rwjblue commented on #71
Awesome, thanks for confirming @pavloo.  I also confirmed with @sly7-7 in slack.

Closing this, sorry for all the troubles y'all!

[2016-02-01 14:53] #71 closed

[2016-02-02 03:37] justin-lau commented on #71
Thanks for the good work guys!

[2016-02-04 21:10] dschinkel opened #73 "You can then choose to include the global (ember-mocha.js)"
delete

[2016-02-04 21:21] rwjblue commented on #73
I am confused by this issue.  Can you either update to explain the issue, or close?

[2016-02-04 21:21] dschinkel commented on #73
yea I am the idiot.  I wasn’t familiar with bower, I found it.

please delete it!

[2016-02-04 21:45] #73 closed

[2016-02-05 07:09] dschinkel opened #74 "Setup Questions"
The docs are lacking.  If you're new to ember, your docs aren't very understandable, there are some things inferred that I'm not familiar yet with ember.  Yes I've looked at the Ember docs, still, ember-mocha doesn't help much in terms of install instructions.

also it looks like if I just install mocha, I can use it or do I still need to use this plugin?  Maybe it's that webstorm is resoving moch

[2016-02-05 14:19] dgeb commented on #74
When running `ember install ember-cli-mocha`, make sure to type Y when prompted "Overwrite tests/test-helper.js". This file will then be changed to contain:

[code]

Everything else _should_ be taken care of by installing ember-cli-mocha.

You should then be able to use the ember cli generators to create modules and corresponding tests (which will use mocha). For example: `ember g controller artic

[2016-02-05 14:19] #74 closed

[2016-02-05 17:44] dschinkel commented on #74
Thanks much dgeb!  Really appreciate it.

[2016-02-09 17:21] Turbo87 opened #75 "pauseTest() does not work as expected"
Currently the `pauseTest()` helper doesn't work properly with mocha due to its test timeouts. If you call `this.timeout(0);` before using `pauseTest()` it will work, but obviously it would be better if this could be done automatically.

Is it possible for us to overwrite the original `pauseTest()` helper and add one that first calls `this.timeout(0)` and the original code afterwards?

[2016-02-11 11:21] Turbo87 commented on #71
I seem to have a similar issue with `0.8.11`:

[code]

Unfortunately it's not reproducible and only happens sometimes causing the CI to randomly fail. if I restart the CI build it usually works fine again.

[2016-02-11 12:57] rwjblue commented on #71
@turbo87 - I believe that is related to an issue opened recently in ember-cli.

[2016-02-11 13:13] Turbo87 commented on #71
@rwjblue I'm using `1.13.15` of ember-cli if that matters

[2016-03-16 21:16] #68 closed

[2016-04-26 14:03] JakeDluhy opened #77 "Trouble with visit + andThen in acceptance"
I'm trying to write an acceptance test for my index route, but it keeps failing on the most basic of functions.

[code]

Gives me the error `TypeError: currentPath is not a function`. However, it gives it to me as an error in the "after each" hook. The error for the test is that the timeout of Xms has exceeded (I've tried 2k, 5k, 10k). Additionally, when I replace currentPath() with 'index' (shoul

[2016-04-26 14:08] rwjblue commented on #75
Yeah, we should be able to do that.

[2016-05-06 21:43] blimmer commented on #28
For those looking to make this work: do this in your `tests/test-helper.js` file.

[code]

@wongpeiyi 's comment was correct, but I had to figure out how to grab mocha from the ES6 import.

[2016-05-11 18:43] kluzny commented on #38
Old issue is old, but here is how I did it:

[code]

[2016-05-11 20:20] Dhaulagiri commented on #77
@JakeDluhy in my experience things like this have been because of something not being stubbed or created properly in mirage, causing weird side effect errors like the one you are seeing.

[2016-05-19 03:37] jbryson3 opened #78 "Update "Mocha" for Bower builds"
I'd like to use the latest mocha in my project. It seems like the latest commit ( https://github.com/switchfly/ember-mocha/commit/e570882cca9cf0ed40e276016f27f1e96c00513e ) would fix that, but doesn't seemed to be pushed to bower.

[2016-05-19 18:28] NullVoxPopuli commented on #78
I would also like this. I'd like to use mocha 2.4.5

[2016-05-19 18:39] NullVoxPopuli opened #79 "TypeError: app.testHelpers.wait is not a function"
ref: https://github.com/switchfly/ember-cli-mocha/issues/80#issuecomment-220317567

![image](https://cloud.githubusercontent.com/assets/199018/15405069/5f22682e-1dce-11e6-920c-0459b76b6022.png)

[code]

also in the console:

[code]

[code]

str is undefined

no stack trace

repo: https://github.com/NullVoxPopuli/aeonvera-ui/tree/mocha-tests
travis: https://travis-ci.org/NullVoxPopuli/aeonvera-ui/j

[2016-05-20 11:29] NullVoxPopuli commented on #79
![image](https://cloud.githubusercontent.com/assets/199018/15426428/a5385538-1e5c-11e6-8f18-112a9c46ac26.png)

[2016-06-06 14:34] caseywatts opened #80 "Accidentally checking in .only"
Problem:
While using `ember-mocha` sometimes I accidentally check in `it.only()`, and then our whole testing suite stops working >_>

One Potential Solution:
I couldn't find a jscs/eslint plugin that helps avoid this, so I made a dinky little bash script to test for it in the meantime lol. I'd love to convert it to a linter plugin, but I haven't learned that skill quite yet~
https://gist.github.co

[2016-06-06 14:36] caseywatts commented on #80
Just as I shared this, someone pointed me in the right direction! :D 🎉
https://github.com/lo1tuma/eslint-plugin-mocha/blob/master/docs/rules/no-exclusive-tests.md

[2016-06-06 14:36] #80 closed

[2016-06-14 14:48] yads commented on #78
That commit won't fix that as it just changes the dev dependencies of the ember-mocha project. [This](https://github.com/switchfly/ember-mocha/blob/master/build-support/bower.json) file needs to be updated. Or if you installed this via [ember-cli-mocha](https://github.com/switchfly/ember-cli-mocha), [this](https://github.com/switchfly/ember-cli-mocha/blob/master/blueprints/ember-cli-mocha/index.js

[2016-06-27 20:10] tavosansal commented on #71
@Turbo87 Did you ever resolve your issue? I am running into this as well.

[2016-06-27 20:30] Turbo87 commented on #71
@tavosansal I don't remember... 🙈    but I'm using `ember-cli-mocha` on a current project so in general it works fine.

[2016-07-22 21:22] SaladFork opened #81 "Test helpers not injected into `before`"
In many cases I'd like to use `before` in a nested `describe` or `context` block but test helpers such as `visit` are not defined.

[code]

Related:
- https://github.com/samselikoff/ember-cli-mirage/issues/646
- https://github.com/san650/ember-cli-page-object/issues/216

[2016-08-04 17:07] juwara0 opened #82 "Component Integration (non-block component) Test Fails in Ember-Engine"
My team is seeing an issue with failing component integration tests (in this case non-block usage of the component) when running tests inside an `ember-engine` with mocha/chai.

The test that is failing is the basic “it renders test”

[code]

The error is:
```TypeError: Cannot read property 'lookup' of undefined```

Here are the versions we are using:
package.json
"ember-cli": "~2.6.2"
"ember-cli-

[2016-08-04 21:30] juwara0 commented on #82
This issue was fixed by: https://github.com/dgeb/ember-engines/pull/169

[2016-08-04 21:30] #82 closed

[2016-09-23 00:09] #37 closed

[2016-10-04 23:25] joegaudet opened #92 "Can't seem to nest describes"
Simple test, if I put a describe inside of a describe component I get test loaded failures.

[2016-11-10 19:38] Turbo87 opened #93 "Add repository information to package.json"

[2016-11-11 14:34] Turbo87 opened #95 "Release instructions aka. "ember-mocha-builds" repository needs an update"
It seems that the https://github.com/emberjs/ember-mocha-builds repository wasn't updated for the latest releases of this project.

Are people still using that at all? Do we have to support it forever?

/cc @dgeb @rwjblue

[2016-11-11 14:56] rwjblue commented on #95
We probably do not have to support it forever, but it is super convenient to be able to mock up an ember-twiddle.com or jsbin.com to demo a problem (this is the main reason I have kept the ember-qunit-builds one around).

Examples:

* ember-qunit: http://jsbin.com/mocequ/edit?html,js,output
* ember-mocha: http://emberjs.jsbin.com/genolo/edit?html,js,output

[2016-11-11 15:13] Turbo87 commented on #92
@joegaudet do you have a repository somewhere that demonstrates this issue?

[2016-11-11 15:33] Turbo87 opened #98 "Enable TravisCI"
TravisCI was enabled for the old location of this project, but after the move now we need to enable the project again: `travis enable --repo=emberjs/ember-mocha`

/cc @dgeb @rwjblue

[2016-11-11 15:37] rwjblue commented on #98
done!

[2016-11-11 15:37] #98 closed

[2016-11-17 18:29] #93 closed

[2016-11-17 19:12] Turbo87 commented on #81
This is a known "limitation" of Mocha, or rather: that's how Mocha was designed to work. For more details see https://github.com/san650/ember-cli-page-object/issues/216#issuecomment-261339481.

[2016-11-17 19:12] #81 closed

[2016-11-17 19:20] Turbo87 commented on #77
@JakeDluhy do you have a repository somewhere that we can clone to reproduce this? otherwise we can't really help here since this seems to work fine in a few of my projects.

[2016-11-17 19:24] Turbo87 commented on #64
@rupurt can you provide a repository that reproduces this issue? otherwise this will be hard/impossible to fix

[2016-11-17 19:42] Turbo87 commented on #61
as @Fryie mentions this should be fixed the recent releases. please reopen if this is indeed still an issue!

[2016-11-17 19:42] #61 closed

[2016-11-17 19:56] Turbo87 commented on #14
@cowboyd I think this can be considered solved, right? I'll close this, but feel free to reopen if I'm wrong!

[2016-11-17 19:56] #14 closed

[2016-11-17 20:11] Turbo87 commented on #28
@blimmer thanks for clearing that up!

[2016-11-17 20:11] #28 closed

[2016-11-17 20:17] Turbo87 commented on #34
I hope that https://github.com/emberjs/data/blob/master/blueprints/serializer-test/mocha-files/tests/unit/__path__/__test__.js will give you some more answers. For everything else you should probably ask the `ember-data` team on how to best test a serializer since it's not specific to `ember-mocha`.

[2016-11-17 20:17] #34 closed

[2016-11-17 20:38] Turbo87 commented on #38
you can also have a look at the now official `route-test` blueprint for Mocha tests: https://github.com/emberjs/ember.js/blob/master/blueprints/route-test/mocha-files/tests/unit/__path__/__test__.js

[2016-11-17 20:38] #38 closed

[2016-11-17 20:56] Turbo87 commented on #49
@oliverbarnes can you provide a repository that reproduces this issue? otherwise this will be hard/impossible to fix

[2016-11-17 20:58] Turbo87 commented on #51
@gzurbach is this still an issue? can you provide a repository that reproduces this issue? otherwise this will be hard/impossible to fix

[2016-11-17 21:53] Turbo87 commented on #54
@devinus @taheilo is this still an issue in more recent `ember-mocha` releases?

[2016-11-17 21:54] Turbo87 commented on #52
@pixelhandler did you figure this out? are you still using `ember-mocha` without Ember CLI?

[2016-11-17 22:00] Turbo87 commented on #44
@rwjblue @dgeb @trentmwillis any ideas? I have to admit I don't know the answer to this one either...

[2016-11-17 23:38] pixelhandler commented on #52
@Turbo87 I'll close this it's old.

[2016-11-17 23:38] #52 closed

[2016-11-17 23:41] pixelhandler commented on #49
@Turbo87 This is also old I don't think @oliverbarnes has this issue anymore.

[2016-11-18 07:41] Turbo87 commented on #49
okay, I'll close this for now. if this is indeed still an issue feel free to reopen.

[2016-11-18 07:41] #49 closed

[2016-11-18 13:51] Turbo87 opened #99 "CI: Publish tags for NPM and Bower automatically"

[2016-11-18 17:32] cowboyd commented on #14
@Turbo87 Yes, I believe it is solved, and the blueprints have been updated for some time. Thanks!

[2016-11-21 16:33] JakeDluhy commented on #77
I don't. I've changed jobs and so no longer have access to this repo. I do believe that I had done a small amount of experimentation and determined that it was something else within my repo messing with it. I can't remember any more than that unfortunately. I think this can be closed out. Thanks for the help!

[2016-11-21 16:33] #77 closed

[2016-11-22 20:31] blipntime opened #103 ""Generic" test enhancement request"
We want to be able to test "anything". For example we want to test helpers and still access the "render" method. Does this question make sense?
Is there a way to configure setupTest so I can test a helper without having to use a component with an (almost) blank template? If not, can you please make setupTest generic or advise.

[2016-11-23 11:13] Turbo87 commented on #95
I've merged the diverged branches in the builds repo. `master` should include all current releases again now.

[2016-11-23 11:13] #95 closed

[2016-11-23 18:25] Turbo87 opened #104 "Write upgrade guide for old test helpers"
#84 introduced new test helpers and deprecated the old helpers, but there is no proper upgrade guide aside from the new README file. The upgrade guide should mention [ember-mocha-codemods](https://github.com/Turbo87/ember-mocha-codemods) as a way to quickly update your code to the new API.

[2016-11-23 21:19] #104 closed

[2016-11-24 10:49] Turbo87 commented on #92
@joegaudet can you try again with the new testing API introduced in v0.9.x?

[2016-11-24 10:51] Turbo87 commented on #78
Indeed, what needs to change is https://github.com/emberjs/ember-mocha-builds/blob/master/bower.json#L11 which is copied over from https://github.com/emberjs/ember-mocha/blob/master/build-support/bower.json#L11.

[2016-11-25 10:37] #99 closed

[2016-11-26 19:43] Turbo87 opened #110 "Context is not being reset between test runs"
[code]

Expected behavior: the second test should pass since the context on each test is being reset and `name` should be `undefined`.

Actual behavior: the `name` value from the first test bleeds into the second test and results in `Pretty Color: green` instead.

Thanks to @acburdine for figuring this out! (see https://github.com/TryGhost/Ghost-Admin/pull/206#issuecomment-263074763)

This seems t

[2016-11-26 19:48] Turbo87 commented on #110
It seems that this was caused by https://github.com/emberjs/ember-mocha/pull/89 and https://github.com/emberjs/ember-mocha/pull/91

/cc @dgeb

[2016-11-26 20:44] allthesignals opened #112 "setupTest is undefined"
`import { setupTest } from 'ember-mocha';`

setupTest is undefined (when used, undefined is not a function).

relevant package/bower json:
[code]

Any thoughts? I'm just trying to setup a controller to test a mixin...

[2016-11-26 21:29] Turbo87 commented on #112
`ember-cli-mocha@0.11.0` has a dependency on `ember-mocha@^0.8.11`, which means that it is only compatible with 0.8.x, and `setupTest` was introduced in v0.9.0.

`ember-cli-mocha@0.12.0` however depends on v0.9.x, so you should be able to use the new syntax once you update your `ember-cli-mocha` version.

[2016-11-26 21:29] #112 closed

[2016-11-26 22:54] rwjblue commented on #110
Heh. This is a mocha design issue.

[2016-11-27 06:52] Turbo87 commented on #110
Yes, but one that we can work around if the thing that get/set work on is reset before each test.

[2016-11-27 19:43] alexlafroscia commented on #75
I've been playing around with this some, and have had trouble overriding the existing `pauseTest` helper to set the timeout.  However, introducing a new helper works.

What I did to override the existing helper was adding this to the `test-helper.js` for a demo app:

[code]

My hope was that setting the `timeout` in here would override the default value of `2000` and cause the test now to fail.  H

[2016-11-27 19:49] alexlafroscia commented on #75
On the other hand, it seems like if you return a promise from the `it` callback, Mocha just waits for it to resolve. In this cause, `pauseTest` returns a promise that doesn't ever resolve, so as long as you do

[code]

it seems like the test doesn't time out.

[2016-11-28 07:48] Turbo87 commented on #75
I'd be very surprised by that. The default behavior in Mocha is to timeout after 2 sec when either the `done` callback is used or a Promise is returned. Not sure if the ember-mocha-adapter mucks around with that though...

[2016-11-28 10:26] Turbo87 opened #113 "Release v0.10.0"
including the breaking change that moves Chai support to `ember-cli-chai`

[2016-11-29 08:10] alexlafroscia commented on #75
@Turbo87 what do you find surprising? I'm happy to throw together a demo repo.

[2016-11-29 08:13] Turbo87 commented on #75
I find it surprising that it doesn't time out when returning a Promise, because that is definitely not the default behavior of Mocha itself.

[2016-11-29 14:47] #113 closed

[2016-11-29 17:07] alexlafroscia commented on #75
Hmm, you're right. I guess I was mistaken about what I was seeing earlier when returning `pauseTest()`.

[2016-12-05 22:00] blipntime commented on #103
Update: using the new API ("describe"), I want to write a generic test like this:

[code]

Where do I place this file and how do I name it? If I just save it as my-test.js into tests, I get:
MyTestXXX
"before each" hook for "renders" ‣
TypeError: Invalid Fullname, expected: 'type:name' got: component:
    at Registry.validateFullName (http://localhost:7357/assets/vendor.js:17230:15)

"after each"

[2016-12-06 13:25] Turbo87 commented on #103
@blipntime why don't you use `ember generate helper-test foo`?

in your example you're passing an empty string to `setupComponentTest()` which can't work.

[2016-12-06 16:54] blipntime commented on #103
Thanks!

[2016-12-06 16:54] #103 closed

[2016-12-06 18:19] Turbo87 commented on #92
closing due to inactivity, please reopen if this is still an issue with the new API

[2016-12-06 18:19] #92 closed

[2016-12-07 16:18] Turbo87 opened #115 "RFC: Drop "ember-mocha-adapter" in favor of a wrapper function"
We are currently using [`ember-mocha-adapter`](https://github.com/teddyzeenny/ember-mocha-adapter) to implement async acceptance tests using the built-in async Ember helpers, without using `done()` or returning a `Promise`. The `ember-mocha-adapter` is implementing this by overriding the `it()` function and patching in our custom async handling. This is however error-prone and brittle as demonstra

[2016-12-07 18:26] dwickern commented on #115
I use `done()` in my tests and I wasn't aware of this feature. I'd rather opt into this functionality as opposed to changing the behavior of mocha.

How is this better than async/await, which should work fine today (provided the necessary polyfills)?
[code]

[2016-12-07 18:37] Turbo87 commented on #115
@dwickern it is *not* better than async/await, but async/await isn't that widely available and simply not the default recommendation yet.

In fact your example could probably even be simplified to this:

[code]

in other words: `andThen()` will no longer be necessary if async helpers as used with `await`.

that is precisely what I am proposing :)

[2016-12-07 20:47] rwjblue commented on #115
This seems good to me, however it will require another round of blueprint updates based on version (which will be annoying) 😝

[2016-12-07 20:48] Turbo87 commented on #115
@rwjblue I know, but this will only require an update to the `acceptance-test` blueprint, so it's not *that* bad :)

[2016-12-07 20:51] Turbo87 commented on #115
maybe we should use the name `usingAsyncHelpers(...)` instead of `emberAsync(...)` to make the intent a bit clearer

[2016-12-08 09:52] Turbo87 commented on #79
FWIW `wait()` has been a part of Ember since at least v1.0.0 (see https://github.com/emberjs/ember.js/commit/8e00e087a5eeb0b2cd6290a74c08d319d208cecf)

[2016-12-09 10:35] Turbo87 commented on #115
see https://github.com/emberjs/ember-mocha/pull/116#issuecomment-265983396

[2016-12-09 10:35] #115 closed

[2016-12-09 12:44] Turbo87 commented on #79
@NullVoxPopuli could you try again with a more recent version of `ember-cli-mocha`? things have changed a bit and I'm not sure if this issue is still relevant for the current releases.

[2016-12-09 13:35] #78 closed

[2016-12-10 09:48] Turbo87 commented on #64
@rupurt it sounds like you're missing the https://github.com/ember-cli/ember-load-initializers addon. please reopen if this is still an issue.

[2016-12-10 09:48] #64 closed

[2017-01-16 03:20] dfalling opened #126 "auto-resolved promises fire after the test ends"
The test:
[code]

async-component.hbs:
[code]

async-component.js:
[code]

A similar test in QUnit works fine, not requiring any special handling for async, since the promise is set to auto-resolve.  In mocha the assertions run and fail, then the promise resolves.  I've noticed several other issues involving component tests, especially [#54](https://github.com/emberjs/ember-mocha/issues/54).  Is t

[2017-01-16 10:02] Turbo87 commented on #126
@dfalling I might be misinterpreting this, but I think we are handling this correctly. `Promise.resolve()` is supposed to not resolve synchronously, but instead will resolve async. That means that if you're asserting directly after the `click()` call, the Promise won't be resolved yet.

The solution to your problem can be found at https://guides.emberjs.com/v2.10.0/testing/testing-components/#toc_

[2017-01-16 10:02] #126 closed

[2017-01-16 22:30] dfalling commented on #54
This is still an issue for me.  My integration tests work, but I get a number of errors in my console caused by calling set on a destroyed object.

[2017-01-17 11:18] Turbo87 commented on #54
@dfalling can you provide instructions on how to reproduce this issue?

[2017-01-18 05:18] dfalling commented on #54
@Turbo87, my mistake- I overlooked one test that I forgot a `wait()` in.  This seems to all be working now!

[2017-01-18 08:21] Turbo87 commented on #54
@dfalling okay, thanks

I'm closing this issue. Please reopen if anyone can come up with a reproduction of the problem.

[2017-01-18 08:21] #54 closed

[2017-01-23 18:54] marclundgren opened #127 "why does the resolver try to import itself?"
I'm [following the docs for defining a resolver](https://github.com/emberjs/ember-mocha#setting-the-resolver). Why does the code for the resolver try to import itself, but at the wrong path?

[code]

[code]

[2017-01-23 21:39] blimmer opened #129 "component unit test with needs: [] still throws ember-test-helper deprecation"
I noticed this in one of my apps as I was upgrading to the new syntax and it's easily reproduced.

Example app showing the problem:

https://github.com/blimmer/ember-cli-example-app-for-github/compare/ember-mocha/issue-129

Failing build because of the deprecation (from ember-cli-deprecation-workflow):

https://travis-ci.org/blimmer/ember-cli-example-app-for-github/builds/194621068

[2017-01-23 21:51] blimmer opened #130 "deprecations thrown in test run"
there are a lot of deprecations thrown during the test run, that makes issues like #129 harder to find. for instance, see all the deprecations here:

https://travis-ci.org/emberjs/ember-mocha/builds/190224882

The only that should be thrown are the ones that are defined within this addon.

[2017-01-24 07:39] Turbo87 commented on #129
@blimmer I think this is actually an issue in https://github.com/emberjs/ember-test-helpers since we're basically just passing through those options. Can you make sure to open an issue there too and crosslink it?

[2017-01-24 07:46] Turbo87 commented on #127
as you can see in https://github.com/ember-cli/ember-cli-mocha/blob/master/blueprints/ember-cli-mocha/files/tests/test-helper.js that code should not be in the `helpers/resolver.js` file, but in `test-helper.js` instead.

[2017-01-24 07:46] #127 closed

[2017-01-24 18:02] marclundgren commented on #127
thanks @Turbo87

[2017-01-24 19:55] ming-codes opened #131 "setupAcceptanceTest callbacks is second parameter"
The doc in [README](https://github.com/emberjs/ember-mocha/blob/master/README.md#acceptance-tests) shows `setupAcceptanceTest` accepts a single parameter, but it looks like `setupAcceptanceTest` is just an alias for `setupTest` where the callbacks is the second parameter.

[2017-01-24 20:04] fushi opened #132 "Component tests run fine if in the 'root' describe block, but throw 'You have turned on testing mode, which disabled the run-loop's autorun' error when in nested describe blocks"
The following pseudo code works fine:

`
describe('Unit | Component | common | input-with-validation', function() {
  beforeEach(function () {
    component = this.subject();
  });

  it('Test Observer', function() {
    component.set('observedKey', true);
  }
`

but the following does not, and raises an assertion error: "You have turned on testing mode, which disabled the run-loop's autorun. You

[2017-01-24 20:42] Turbo87 commented on #132
@fushi where are the `setupComponentTest()` calls in your code?

[2017-01-24 20:43] Turbo87 commented on #131
@ming-codes sorry, I'm not sure what you're saying. is something not working as expected?

[2017-01-24 20:59] fushi commented on #132
Updated the original question with more complete code blocks

[2017-01-24 21:11] ming-codes commented on #131
I guess another another way of saying it is..doing what the README describes throws error.

[code]

`setupAcceptanceTest` actually expects a first argument of type string.

[code]

[2017-01-24 21:32] fushi commented on #132
I've got a *very* ugly workaround, for now:

Create a test helper
[code]

And in the test file:

[code]

[2017-01-24 21:35] Turbo87 commented on #131
hmm, I thought I fixed that

[2017-01-24 23:04] ming-codes commented on #131
I'm on `0.11.0` and this is still happening.

[2017-01-25 01:30] ming-codes opened #133 "setupAcceptanceTest not invoking destroy-app"
Not sure if this belong in `ember-mocha` or `ember-test-helpers`

`ember-cli-mirage` uses `tests/helpers/destroy-app.js` to clean up after each test. It doesn't looks like there's anything in `setupAcceptanceTest` that tries to invoke this.

[2017-01-25 10:58] Turbo87 commented on #133
@ming-codes `setupAcceptanceTest()` does setup an `afterEach()` block that destroys the application, but you are correct that it does not run the `server.shutdown()` command that `ember-cli-mirage` [inserts](https://github.com/samselikoff/ember-cli-mirage/blob/master/blueprints/ember-cli-mirage/index.js#L40). You should be able to do this manually like this:

[code]

you could also extract that in

[2017-01-25 11:01] Turbo87 commented on #131
hmm, we are actually testing for this case (see https://github.com/emberjs/ember-mocha/blob/master/tests/setup-acceptance-test-test.js#L26) and in fact https://github.com/emberjs/ember-mocha/commit/2368d75be7375cbc0b24aab22a620eb3c2d1f687 fixed exactly the case that you're presenting... 🤔

[2017-01-26 19:06] blimmer commented on #129
@Turbo87 I'm definitely not an expert in this code, but it looks like the `needs` array is gone in the mocha / ember-mocha layer before it passes on to ember-test-helpers.

<img width="672" alt="screen shot 2017-01-26 at 12 04 57 pm" src="https://cloud.githubusercontent.com/assets/630449/22346076/dcbbcf7a-e3bf-11e6-8eb1-69d2c3a6a597.png">

[2017-01-26 19:20] blimmer commented on #129
Strangely enough, `unit: true` is still getting passed through...

<img width="783" alt="screen shot 2017-01-26 at 12 19 39 pm" src="https://cloud.githubusercontent.com/assets/630449/22346548/c26d4c28-e3c1-11e6-9b71-93864abd8b09.png">

[2017-01-26 23:02] ming-codes commented on #131
That is not how my setupTest looks like 😦

[code]

Can you check if that change got released?

[2017-01-26 23:06] ming-codes opened #134 "this.inject.service(...) is not working"
[code]

Investigation shows that `this` is not the instance of `context` that inject is setting to. So injection is working..just on the wrong object.

[2017-01-26 23:11] ming-codes commented on #134
https://github.com/emberjs/ember-mocha/blob/master/lib/ember-mocha/setup-test-factory.js#L22

This line?

We're copying over the properties from `ember-test-helpers` context, but `ember-test-helpers` is actually using a lexically bound `context`

https://github.com/emberjs/ember-test-helpers/blob/master/lib/ember-test-helpers/test-module.js#L139

[2017-01-26 23:23] ming-codes commented on #134
#111 is related

[2017-01-27 01:59] matthewconstantine opened #135 "How can we collect test metadata for CircleCI?"
We'd like to get metadata about the tests we run. [CircleCI recommends](https://circleci.com/docs/test-metadata/#a-namemochajsamocha-for-nodejs) using mocha-junit-reporter. How might we configure ember-mocha to use it?

[2017-01-27 07:24] Turbo87 commented on #135
I don't think this is currently possible since we use testem between the tests in the browser and the console output. It looks like the reporter you mentioned is only relevant for node.js tests.

[2017-01-29 10:56] Turbo87 commented on #131
looks like you're right. this simply hasn't been released yet... :shipit:

[2017-01-29 11:06] Turbo87 commented on #132
[code]

seems to work fine for me

[2017-01-30 23:45] fushi commented on #132
Rendering is fine, it's only when you attempt to modify a component attribute that is being watched by an observer.

[2017-01-31 00:09] rwjblue commented on #132
Can you share a demo repo? I'm getting confused 🙃

[2017-01-31 22:01] efx commented on #132
I just reproduced this in our app. Here is an example test that reproduces the error: https://github.com/efx/ember-mocha/commit/560abc959fe70abd8baf8313eeecb055117aebe0

[2017-02-02 17:48] marclundgren opened #138 "`TypeError: Cannot read property 'create' of undefined`"
Hello,

I tried running the provided basic acceptance test example:

[code]

however, it fails on the beforeEach hook:
[code]

Am I doing something wrong?

[2017-02-02 18:53] Turbo87 commented on #138
sounds like you're hitting the same issue as #131, correct?

[2017-02-05 21:25] blimmer commented on #129
Yep, you're right @Turbo87 , this is an upstream problem and even seem like it might be related to a change that you made:

https://github.com/emberjs/ember-test-helpers/blame/d5c50d0058e141aff0b3b7ed72932e6eca6e6ece/lib/ember-test-helpers/test-module-for-component.js#L29

maybe you have some insight into the right fix.

Either way, this will be handled upstream - thanks for the help. Closing.

[2017-02-05 21:25] #129 closed

[2017-02-09 18:20] KamiKillertO opened #139 "newAttrs in didReceiveAttrs is empty"
Hello,

I'm trying to test a component which use the `didReceiveAttrs` hook to format data.
I've try different things but `newAttrs` in `didReceiveAttrs` is always empty.

[2017-02-09 18:21] Turbo87 commented on #139
as you can see in http://emberjs.com/api/classes/Ember.Component.html#method_didReceiveAttrs the `didReceiveAttrs()` hook receives no arguments

[2017-02-09 18:21] #139 closed

[2017-02-09 19:07] KamiKillertO commented on #139
Indeed the arguments of `didReceiveAttrs ()` disappeared in Ember2.x.
I was watching an old documentation 😞, sorry for this disturbance.

[2017-03-03 01:48] marclundgren opened #140 "`TypeError: factory.create is not a function` when trying to create a unit test for a helper"
Hello. I need to write unit tests for my `helper` like I would with `qunit`. However, It's looking like `ember-mocha` won't allow that.

Here's my simple test

[code]

[2017-03-03 07:26] Turbo87 commented on #140
@marclundgren helpers are usually not classes (or `Ember.Object`s) and so they don't necessarily have a `.create()` method. You can look into https://github.com/emberjs/ember.js/blob/master/blueprints/helper-test/mocha-0.12-files/tests/__testType__/helpers/__name__-test.js to find out how unit and/or integration tests for helpers are supposed to look like.

[2017-03-03 07:26] #140 closed

[2017-03-08 11:51] andela-vdugeri commented on #138
I'm currently experiencing the same issue. I followed the exact instructions in the README.

[2017-03-08 12:53] Turbo87 commented on #138
see https://github.com/emberjs/ember-mocha/issues/131#issuecomment-275906648

[2017-03-08 12:53] #138 closed

[2017-03-09 22:50] jasonmit opened #141 "Asserting error thrown no longer works as of 2.11.3"
Unsure where the proper fix belongs, but I believe it surfaced as part of:
https://github.com/emberjs/ember.js/pull/14898

Example of test that now fails since the assertion is not handled by mocha/chai before the error is thrown:

[code]

[2017-03-09 23:34] Turbo87 commented on #141
@workmanw @rwjblue any comments?

[2017-03-10 12:26] Turbo87 commented on #141
okay, so I got several opinions on this:

- `expect().to.throw()` is provided by Chai and https://github.com/ember-cli/ember-cli-chai, so if that was broken the issue should be fixed over there
- `expect().to.throw()` is not broken since it works very well when you put e.g. `throw new Error('foo')` inside of it
- if `this.render()` threw previously, but is not throwing anymore then that is an API

[2017-03-23 01:22] aexmachina opened #142 "Is it possible to use this package without bower?"
I'm trying to remove bower from my ember project, which is supported in ember-cli v2.12. I've moved `ember-mocha` into my package.json, but can't `import { setResolver } from 'npm:ember-mocha'`, because the npm package only includes the source and not the compiled assets.

[2017-03-23 02:06] aexmachina commented on #142
This is a non issue 👍

[2017-03-23 02:06] #142 closed

[2017-03-24 16:24] cowboyd opened #143 "Unable to build a fresh checkout of master"
[code]

[2017-03-24 16:44] Robdel12 commented on #143
Looks like it's related to https://github.com/rollup/rollup-plugin-alias

I can't tell what the diff is between 1.2.0 & 1.2.1 but locking to 1.2.0 gives me a build that fails the tests :P

[2017-03-24 16:53] Turbo87 commented on #143
the difference seems to be https://github.com/rollup/rollup-plugin-alias/pull/9

[2017-04-17 15:54] Turbo87 commented on #141
this seems to be an issue in Ember itself, so I'll close the issue here for now in favor of https://github.com/emberjs/ember.js/issues/15013

[2017-04-17 15:54] #141 closed

[2017-04-20 21:05] jbryson3 opened #148 "Unable to run all tests in a fresh checkout of master"
It run the jsHint tests but not much else
Terminal output has:

'require' is imported by tmp/rollup-cache_path-GK58QtLK.tmp/ember-test-helpers/test-module-for-model.js, but could not be resolved – treating it as an external dependency

Console output has:

    at requireModule (loader.js:58)
    at reify (loader.js:41)
    at requireModule (loader.js:69)
    at reify (loader.js:41)
    at requireM

[2017-04-20 21:13] rwjblue commented on #148
https://github.com/emberjs/ember-mocha/pull/147 should have fixed this, and CI was green when it landed...

[2017-04-21 07:57] Turbo87 commented on #148
@rwjblue we don't have any jshint tests anymore in this repository. it seems like @jbryson3 might be talking about his own test suite.

[2017-04-21 12:08] rwjblue commented on #148
Ah, I see.

I think a demo reproduction would be super helpful here...

[2017-04-21 13:50] jbryson3 commented on #148
@rwjblue #147 was not merged into Master. I didn't realize that v0.11.x was the active branch that I should be using.

@Turbo87 I apologize, I meant to say ESLint tests, not jshint. I was attempting to run the test suite of ember-mocha.

I was attempting to run the suite of tests from the master branch that last had a commit in January (f5758108556a62dfeee1d7f70fc978b5b63505f0)

Tests are working

[2017-04-21 13:56] rwjblue commented on #148
AHA! I didn't realize that commit wasn't on master though.  I'm guessing that @Turbo87 just needs to merge that fix up into master?

[2017-04-21 13:58] Turbo87 commented on #148
yeah, that will need to happen soonish...

[2017-04-21 20:53] k3n opened #149 "setupAcceptanceTest() issues"
Greetings,

I'm trying to use `setupAcceptanceTest()` and have a few questions/problems:

1. The `Application` seems to never get created -- I added a `console.log` / `debugger` in the `create()` method, and it never hits. I've also tried the alternative method signature mentioned in #131 (btw, are there plans for a fixed release anytime soon? That fix has been hanging out for 4? months).
2. Assum

[2017-04-27 20:56] trentmwillis commented on #44
The reason for this is that `setResolver` won't "reset" after a given test ends. So, you're essentially mucking with global state which could potentially cause problems in your test suite.

That said, ember-test-helpers now provides an easy way to set a resolver for a given test module: https://github.com/emberjs/ember-test-helpers/pull/174.

[2017-04-27 21:41] #44 closed

[2017-05-01 15:25] efx commented on #142
For later travelers, this is a non-issue because when you install `ember-cli-mocha@0.14.0` (or greater), it includes the `ember-mocha` and `mocha` dependencies for you.

[2017-05-01 15:31] Turbo87 commented on #142
yep, same for `ember-cli-test-loader` (see https://github.com/ember-cli/ember-cli-mocha/pull/129) and Chai.js once you have a npm dependency on `ember-cli-chai`

[2017-05-09 22:47] caseywatts opened #151 "setupAcceptanceTest can't use application.__container__.lookup('service:session') ?"
When trying to migrate a test to the new suite, I get this error:

[code]

I'm calling `torii`'s `stubValidSession` [defined here](https://github.com/Vestorly/torii/blob/4146248531f54dd60f10946eb75c8d50e4cd8865/test-support/helpers/torii.js#L3) in a `beforeEach`, passing `this.application`.

It seems like `torii` expects `application.__container__.lookup('service:session')` to work. The function `

[2017-05-10 08:10] Turbo87 commented on #151
not that I'm aware of... the code that is running internally is pretty similar and calling the same `ember-test-helpers` APIs, it just looks a little different from the outside.

[2017-05-10 14:58] caseywatts commented on #151
hmm!
I'm opening an issue in `ember-mocha` too then - thanks for responding so quickly! :)

[2017-05-15 14:12] danielspaniel opened #153 "Question: Does the ability to use multiple resolvers work?"
Howdy,
 I noticed in the docs a really handy bit of advice:

"If you want to use multiple resolvers in your test suite, you can also call setResolver in the beforeSetup callback of your test modules."
https://github.com/emberjs/ember-mocha#setting-the-resolver

 But I was curious because there is no callback named beforeSetup .. or did you mean beforeEach?

[2017-05-15 15:52] Turbo87 commented on #153
I have never actually used that feature myself, but I agree that this is probably a typo and should be `beforeEach`. Could you open a pull request to fix this?

[2017-05-22 05:38] BL4CKC1PH3R commented on #138
How to solve this?

#131 (comment) is useless.

[2017-05-23 17:16] efx opened #154 "why does removing setTimeout in adapter.exception combined with done produce expected behavior?"
Relates to https://github.com/emberjs/ember.js/issues/15013. The `setTimeout` found here https://github.com/emberjs/ember-mocha/blob/master/build-support/ember-mocha-adapter.js#L33-L36 causes erratic behavior and could be aggravating the underlying Ember bug.
Here is a reproduction repo: https://github.com/efx/run-loop-error-assertion-case.git
1. clone the above repo, run npm install
2. run ember

[2017-05-26 12:55] #143 closed

[2017-05-26 12:55] #148 closed

[2017-05-26 13:32] #133 closed

[2017-05-26 13:45] Turbo87 commented on #131
this is now released as `v0.12.0`

[2017-05-26 13:45] #131 closed

[2017-05-26 13:47] Turbo87 commented on #149
you might be running into the same issue as https://github.com/emberjs/ember-mocha/issues/131. please let me know if you still have issues using the `v0.12.0` release.

[2017-05-26 13:47] #149 closed

[2017-05-26 13:48] Turbo87 commented on #151
you might be running into the same issue as #131. please let me know if you still have issues using the v0.12.0 release.

[2017-05-26 13:48] #151 closed

[2017-05-26 13:50] Turbo87 commented on #154
@efx I do not think that this is something that `ember-mocha` should support. If Ember decides to no longer throw exceptions from a function and instead expose them somewhere else then there is not much here that we can do without it getting messy really fast.

the `done` test is likely succeeding because it's not actually testing anything... `done` should be avoided at all costs now that we have

[2017-05-26 13:50] #154 closed

[2017-05-26 13:51] Turbo87 commented on #79
closing due to inactivity

[2017-05-26 13:51] #79 closed

[2017-05-26 13:52] Turbo87 commented on #41
it seems that https://github.com/cibernox/ember-native-dom-helpers essentially resolves this issue. if there are still problems please let me know.

[2017-05-26 13:52] #41 closed

[2017-05-26 14:10] efx commented on #154
The first part makes sense to me; I was really curious as to why the adapter has that `setTimeout` as it seems to be a work around for how Ember executes the tests. That's good to know about avoiding `done`.

[2017-05-26 14:28] Turbo87 commented on #154
yeah, that is some funky business going on to support the implicitly async acceptance tests using `andThen()` and friends. that btw is also the reason why we haven't been able to upgrade to Mocha 3 yet...

[2017-05-31 18:37] PWKad commented on #132
Just ran in to this as well, any ideas?  Is it basically just recommended to not use nested describe blocks with ember-mocha?

[2017-05-31 18:45] fushi commented on #132
@PWKad We've been using the workaround from above successfully for the last 6 months.

[2017-08-01 15:56] Binarytales opened #158 "Error (this._routerMicrolib is undefined) while testing route action that performs transitionTo"
I'm receiving the following error, even with a simplified test case:
[code]
The error does seem to be specific to `ember-mocha` as I have not been able to make it manifest with QUnit.

Update: I have pushed a test case repository: https://github.com/Binarytales/cuddly-couscous

Using Ember `2.14.0`

- `ember new testcase`
- `ember install ember-cli-mocha`
  - installed:
      - `ember-cli-mocha: ^

[2017-08-01 18:20] rwjblue commented on #158
I don't think you can use something that relies on the router being present in a unit or integration test.

[2017-08-02 08:55] Binarytales commented on #158
Apologies @rwjblue - coming at this with fresh eyes this morning I found an issue in my equivalent QUnit reduced test case and this in fact _does_ manifest itself in `ember-qunit` too.

So not a bug. Sorry.

So what I should be doing here is stubbing out the `transitionTo`. I'm using Sinon (`ember-sinon`) here to create a sandbox:

[code]

All good.

[2017-08-02 08:55] #158 closed

[2017-08-18 03:18] aureliosaraiva opened #159 "[bug] Using the `set` inside `it` does not work on ember-mocha."
https://github.com/emberjs/ember.js/issues/15590

[2017-08-18 07:03] Turbo87 commented on #159
this is a restriction of how Mocha tests work and can not be worked around in a reasonable way

[2017-08-18 07:03] #159 closed

[2017-08-18 16:33] caseywatts commented on #75
this feels silly to have to do this, but I just added a snippet to atom for this and I thought I'd share :)

[code]

[2017-08-24 19:31] ming-codes opened #160 "Existing run loop at the beginning of test interferes with `Ember.run.join` behavior"
![screen shot 2017-08-22 at 3 39 17 pm](https://user-images.githubusercontent.com/706212/29684707-ccd84d2e-88c7-11e7-99aa-9a11c9453e6c.png)

I'm not sure if this is intended, but the behavior is definitely different from what `ember-qunit` have. Unit tests should not have a run loop started already.

[2017-08-30 18:03] basicBrogrammer commented on #134
Having the same problem

[2017-10-30 14:50] efx commented on #160
I think this issue caused a test failure bug in our application test suite. A mixin's unit test had scheduled run loop actions using Ember run next. This mixin did not properly clean up those deferred actions. Later in the test suite we saw obscure run loop errors. I would expect ember-mocha to warn or error if things exist in the run loop.

[2017-11-01 16:21] efx opened #163 "document integrating root level hooks"
I think it would be helpful to add a blurb in the readme about using https://mochajs.org/#root-level-hooks.
See slack thread for background: https://embercommunity.slack.com/archives/C045C9ABM/p1509552775000169

I'm opening an issue so we can land on the wording and then will PR.
# proposed wording
root level hooks
To use root level hooks in your application, include any of the valid mocha test ho

[2017-11-08 17:55] joegaudet opened #167 "Component Tests Leak Containers"
On Ember Version 2.11.3 and Greater using ember mocha leaks containers between tests.

Steps to Reproduce.

1. Create a vanilla ember app
2. Install ember-cli-mocha
3. Generate 3 component tests
4. Take a heap snapshot and search for containers

<img width="1501" alt="screen shot 2017-11-08 at 9 54 03 am" src="https://user-images.githubusercontent.com/123911/32565080-e93bf504-c46a-11e7-8e81-90051e

[2017-12-07 20:29] mattmarcum opened #176 "How to test a component mixin?"
I'm trying to upgrade an older app and it had a unit test that created a generic component (with a mixin) and set it on the resolver.  Looks like ember-mocha could resolve the newly created component for its test:

[code]

Looks like the test suite was using a customer resolver.  I'm trying to migrate everything to use the default setup and get rid of the custom resolver.

My question is - what's

[2017-12-08 14:55] efx commented on #132
Rebased the above reproduction failure on this branch: https://github.com/efx/ember-mocha/tree/bug-132.

[2017-12-08 16:45] efx commented on #132
The error comes from an ember.js or ember-data validation. Wrapping a try catch around this line causes the error to disappear: https://github.com/ember/ember-mocha/blob/master/vendor/ember-mocha/ember-mocha-adapter.js#L69. That seems like a workaround. I do not know what effects it could have on other kinds of exceptions, et. al. @Turbo87 is this kind of fix worth pursuing? Or are there broader r

[2017-12-08 16:50] Turbo87 commented on #132
that link goes to 404 for me 🤔

IMHO similar to how QUnit does it we should not start any runloops automatically in Mocha. This has been a major pain and also can't be implemented reliably. This is obviously a breaking change, so my plan is to tackle these things once the Ember CLI addon transition (see #173) has been completed.

[2017-12-08 16:55] efx commented on #132
whoops, updated so it should work.
Ah interesting. Great, thanks for the update. I'll be glad to help test / try out the fixes on the application I work on.

[2018-01-09 20:51] efx opened #182 "seeing obscure errors when trying to update to ember-cli@2.18.0 and ember-mocha 0.12.1"
It is unclear whether I should post here or ember-cli-mocha, so am posting here.
I'm attempting to upgrade our application to use ember-cli@2.18.0 from ember-cli@2.17.0.
In the process, ember-mocha seems to not work for certain tests.
I see the following error:
<img width="604" alt="screen shot 2018-01-09 at 3 45 03 pm" src="https://user-images.githubusercontent.com/472721/34742448-351137b8-f554-1

[2018-01-09 21:02] rwjblue commented on #182
Not sure if it is related, but you generally would not want to do both `setResolver` and `setApplication`...

[2018-01-09 21:03] efx commented on #182
Ah, thanks @rwjblue. I'll try removing the resolver bit.

[2018-01-12 16:52] rstudner commented on #182
Hrm.. i'm using Mocha and 2.17 and my test-helper looks like:
[code]
(which works)

But I did notice going to 2.17.2(?) that there is now some autoboot etc stuff which can't be placed anywhere in the ember-mocha 'setup'

[2018-01-21 13:28] Turbo87 commented on #182
this is a duplicate of https://github.com/ember-cli/ember-cli-mocha/issues/231 and will be addressed by https://github.com/ember-cli/ember-cli-mocha/pull/237

[2018-01-21 13:28] #182 closed

[2018-02-26 09:40] simonihmig commented on #167
https://github.com/emberjs/ember-mocha/pull/194 might also have helped here. With that I haven't seen leaks caused by Mocha anymore, so I think we can close this?

[2018-02-26 09:53] Turbo87 commented on #167
@joegaudet can you check if this is still an issue?

[2018-03-05 09:36] simonihmig opened #198 "Finalize new testing API"
Just to not forget it, we talked about this on Slack, the current support for the new testing APIs in master includes a currently dubbed `setupContainerTest()` function (the equivalent of `setupTest()` in QUnit), the naming of which is a bit controversial. So this should be finalized before master is released.

I'll try to layout some alternatives (feel free to extend):

## Reuse `setupTest()`

Ha

[2018-03-05 10:14] Turbo87 commented on #198
For obvious reasons I would still prefer the first solution relying on the first arg being a string. I think if we properly mark it as a breaking change then it should be fine.

[2018-03-05 12:17] simonihmig commented on #198
Happy about this as well! 👍

I can create a PR later if we settle on that! @rwjblue ok for you as well?

[2018-03-05 14:17] rwjblue commented on #198
Yes, that seems ideal to me also...

[2018-03-06 10:18] #198 closed

[2018-03-15 22:33] alexlafroscia opened #203 "Testing action invocation with new API"
I'm migrating my tests to the new `setupRenderingTest()` API and realized that `this.on` is not part of the new API. How do you set up an action and verify that your component invoked it correctly now?

[2018-03-15 22:35] alexlafroscia commented on #203
It seems like you can migrate from

[code]

to this:

[code]

Is this the recommendation? It might be worth calling out in the migration guide.

[2018-03-15 23:16] Turbo87 commented on #203
@alexlafroscia yep, that is what the `ember-qunit-codemod` does too iirc

[2018-03-16 00:31] alexlafroscia commented on #203
Ahh, okay. I didn't run the codemod, just did the migration by hand.

Would you want a PR to the migration docs that explain the pattern?

[2018-03-16 18:58] Turbo87 commented on #203
I guess that would make sense, yeah. @simonihmig any thoughts on this?

[2018-03-16 19:17] simonihmig commented on #203
Yeah, that seems reasonable! 👍

[2018-03-16 21:47] #203 closed

[2018-03-16 21:48] alexlafroscia commented on #203
Closing since we've confirmed the path forward and I made a PR that mentions this in the migration guide.

[2018-04-17 20:57] ejlangev opened #205 "Anything blocking deploying the new testing API?"
Was a bit confused because the examples in the docs and the migration guide do not seem to run properly in a new ember app.  It appears that there needs to be a new release for the new API which is currently in beta.  Is there some place that tracks the status to shipping the new version?

[2018-04-18 06:37] Turbo87 commented on #205
free time 😞

they do run properly, but what you see at https://github.com/emberjs/ember-mocha/ is the docs for the master branch. you should look at the docs corresponding to the version that you use, e.g. https://github.com/emberjs/ember-mocha/tree/v0.13.1

this issue here, I guess 😉

[2018-04-18 14:50] ejlangev commented on #205
Well if there's anything I can do to help let me know.

[2018-05-03 15:14] jgwhite commented on #205
@Turbo87 what’s the recommended way to test the beta release? Is there a complementary release of [ember-cli-mocha](https://github.com/ember-cli/ember-cli-mocha/releases) we can use? Or is it recommended to add `ember-mocha` as a direct dependency?

[2018-05-10 09:56] jimenglish81 commented on #205
I was just checking out the tests on `master` and noticed it seems to not play well with `ember/test-helpers ^0.7.21`
It looks to me like because of the shared context in `Mocha` (https://github.com/mochajs/mocha/wiki/Shared-Behaviours) the extra keys added have to be deleted after each test https://github.com/emberjs/ember-mocha/blob/master/addon-test-support/ember-mocha/setup-test.js#L45

Howeve

[2018-05-11 15:49] efx commented on #176
@mattmarcum welcome! To assert mixin behavior, use plain `describe` and `it` functions imported from mocha. While you could test those within a component unit test, it will be more difficult as there is another layer between the behavior and the tests asserting that behavior.
For better help and examples, I would recommend joining the ember discuss forum and posting here: https://discuss.emberjs.c

[2018-05-13 15:11] Turbo87 commented on #205
@jimenglish81 good point, thanks for the analysis. @rwjblue any suggestions? 🤔

[2018-05-14 12:56] rwjblue commented on #205
This seems like the right path forward to me...

[2018-05-14 14:52] jimenglish81 commented on #205
@rwjblue great thanks for your feedback. I have created a PR...
https://github.com/emberjs/ember-test-helpers/pull/374

[2018-05-14 14:58] jimenglish81 commented on #205
@Turbo87 can I help with this at all?

[2018-05-14 15:03] Turbo87 commented on #205
@jimenglish81 you should talk to @jgwhite. he wanted to look into the codemod situation :)

[2018-05-14 17:39] pixelhandler opened #206 "Question: can mocha dependency be upgraded?"
I'm curious if we can upgrade mocha to `"^5.1.1"` instead of `"mocha": "^2.5.3"` ?

I tried out (with npm-link) using the latest mocha and tests worked fine.

[2018-05-14 19:09] Turbo87 commented on #206
see https://github.com/ember-cli/ember-cli-mocha/issues/167

[2018-05-15 13:16] jgwhite commented on #205
@Turbo87 @jimenglish81 haha, yes although I must admit I’ve been dragging my heels. 😅

I’ve proposed a little plan of attack to the team at Heroku but we’ve yet to schedule it in.

@jimenglish81 if you want to dive in, don’t let me stop you!

[2018-05-15 14:51] efx commented on #134
I am also seeing this issue. In our app's `test-helper.js` file, I am setting a property in the root level `before` hook:
[code]
When a test  accesses `this._sandbox` within a `beforeEach`, the suite fails to load because `this._sandbox` is undefined.

[2018-05-15 14:52] efx commented on #134
@ming-codes thanks for those links but they return 404s now.

[2018-05-16 15:59] rwjblue commented on #205
Looks like @rondale-sc picked this up a bit and has a good start going over in https://github.com/Turbo87/ember-mocha-codemods/pull/17.

[2018-05-30 18:18] lewazo opened #207 "Confusing doc when using latest stable version"
It is kind of confusing and misleading that the README on the master branch describes how to use ember-mocha with the new testing API since it is only available in the pre-release.

Typically, someone wanting to integrate this add-on to their projet would go on the GitHub repo, follow the steps to install the add-on, then do a `ember install ember-mocha`. When doing so, they'll end up with the lat

[2018-05-31 21:57] rondale-sc commented on #205
The codemod has been merged into ember-mocha-codemods repo and is in need of some testing.  But I think we may be able to start pushing this beta forward now?

[2018-05-31 22:00] rondale-sc opened #208 "The `setTimeout` in test runner throws a warning in console"
The offending line is here:

https://github.com/emberjs/ember-mocha/blob/7833e14349f5136802d7a6bbe89bca34f97329e7/vendor/ember-mocha/test-loader.js

And the error looks like this:

<img width="1048" alt="screen shot 2018-05-31 at 2 52 59 pm" src="https://user-images.githubusercontent.com/75710/40810616-2ec3ac0c-64e3-11e8-9ed3-4d9f08a5a16c.png">

After reading through the issues listed in comments

[2018-05-31 22:18] rwjblue commented on #208
FYI - `ember-qunit` removed the delayed starting completely, in favor of users doing `import { start } from 'ember-qunit'` and calling `start()` explicitly...

[2018-05-31 22:55] rondale-sc commented on #208
@rwjblue I saw that.  I'm still a bit unclear as to when it knokws it is safe to call `start`

[2018-06-01 01:31] rwjblue commented on #208
well, there is no "safe" it just starts when you invoke it 😝

[2018-06-03 07:36] Turbo87 commented on #205
@rondale-sc I agree. I will release this as stable next week.

[2018-06-03 08:00] jgwhite commented on #205
Fabulous work, kudos @turbo87 and @rondale-sc. Can’t wait to migrate our test suite.

[2018-06-05 09:48] Turbo87 commented on #205
released as v0.14.0

[2018-06-05 09:48] #205 closed

[2018-06-05 09:49] Turbo87 commented on #207
see https://github.com/emberjs/ember-mocha/issues/205#issuecomment-394649947

[2018-06-05 09:49] #207 closed

[2018-06-05 09:50] Turbo87 commented on #134
with the new testing APIs released in v0.14.0 `this.inject.service()` is no longer a thing. instead you would do e.g. `this.intl = this.owner.lookup('service:intl');`

[2018-06-05 09:50] #134 closed

[2018-06-05 09:55] Turbo87 commented on #153
One potential way to do this is use a custom resolver that delegates to two or more child resolvers. You should be able to use `setResolver()` with that pattern.

[2018-06-05 09:55] #153 closed

[2018-06-05 09:57] Turbo87 commented on #75
This has been solved with the new testing API released in v0.14.0

[2018-06-05 09:57] #75 closed

[2018-06-05 10:46] ming-codes commented on #134
Does ember mocha handles the context clean up now? Mocha itself retains all context objects of the whole test suite, which can be leaky if we are to attach container instantiated objects on the context object.

[2018-06-05 10:51] Turbo87 commented on #134
[this](https://github.com/emberjs/ember-mocha/blob/master/addon-test-support/ember-mocha/setup-test.js#L47)?

[2018-06-05 15:10] ming-codes commented on #134
Yup, that’s it.

[2018-06-11 16:34] caseywatts commented on #75
I'm updating the docs for this here:
https://github.com/emberjs/ember.js/pull/16740

[2018-07-05 17:31] Turbo87 commented on #206
@apellerano-pw don't get me wrong, I would love to update. but last time I tried I couldn't find a way to support the "old testing APIs" with the newer Mocha releases. fortunately we have the new testing APIs now that should work with the newer Mocha, but we'd have to drop support first before upgrading Mocha.

[2018-07-05 19:32] apellerano-pw commented on #206
Ah, that's bittersweet. It will probably take a while for dropping support to make sense and doing it earlier would strand ppl on the 0.14.x line. But at least something is in motion.

Do you know exactly what the issue is with getting old testing apis working with newer mocha? Is it something other people could take a stab at?

[2018-07-05 20:08] Turbo87 commented on #206
@apellerano-pw the specific issue is https://github.com/emberjs/ember-mocha/blob/master/vendor/ember-mocha/ember-mocha-adapter.js, which allows the "implicit async helper chaining tests" where you use `andThen()` instead of calling `done()` at the end or returning a `Promise`. that is not supported by default in Mocha and that adapter hacked it so that it works, but as I said above, with newer Moc

[2018-07-26 12:14] mupkoo opened #209 "`setupTest` is eating exceptions"
It looks like `setupTest` helper is not handling exceptions, and if an exception is throw from some of the `afterEachHooks` for example, the context never gets torn down, which means that the tests stop to work there.

I will take a deeper look later and will come up with a PR.

[2018-07-31 18:33] mike-north opened #211 "Ember-Mocha + Ember-Cli-Mocha = invalid /tests HTML"
A project with both `ember-cli-mocha` and `ember-mocha` as top-level ember addons will result in duplicate fixture HTML being rendered. Unfortunately, this also means that more than one DOM element has the same `id`. [This is not allowed.](https://www.w3.org/TR/html5/dom.html#element-attrdef-global-id)

![screen shot 2018-07-31 at 11 20 06 am](https://user-images.githubusercontent.com/558005/43479

[2018-07-31 19:07] mike-north opened #212 "Provide an option for NOT auto-starting the runner"
Currently this addon kicks off the test runner after waiting for a while (an attempt to address a chrome sourcemap bug that may or may not still exist)

https://github.com/emberjs/ember-mocha/blob/13be23a36a6af0f6f1cffe934b905a2bbe1fd39e/vendor/ember-mocha/test-loader.js#L35-L39

Moving away from this, and toward an "explicit start" model [like what's done in ember-qunit](https://github.com/emberj

[2018-07-31 20:25] mike-north commented on #212
Hacky workaround:

###### vendor/mocha-patch.js
[code]
###### ember-cli-build.js
[code]
###### tests/test-helper.js
[code]

[2018-08-05 09:41] CodingItWrong opened #213 "Can't generate acceptance tests"
I'm attempting to set up a new Ember 3.3 project using `ember-cli-mocha`. It installs `ember-mocha` 0.13.1 by default, but it seems that I need to update `ember-mocha` to use new-style async testing. When I install `ember-mocha` 0.14.0, though, it seems like I can no longer generate acceptance tests with `ember g`.

Here is a branch of my mostly-empty project that exhibits the problem. The final c

[2018-08-06 20:11] rondale-sc commented on #212
@mike-north Did this recently cause you trouble?  I have a flaky test that is throwing at `mocha.run` now where it was previously warning.

[2018-08-06 20:28] mike-north commented on #212
@rondale-sc I did not post this in response to something breaking -- I'm just hoping for better consistency between this addon and `ember-qunit`.

[2018-08-06 21:47] rwjblue commented on #212
We need to work to push forward the same declarative `start()` system that exists in ember-qunit. It will likely be "another major bump", but the required app changes are pretty small and the reduction in complexity seems definitely worth it...

[2018-08-07 21:18] efx opened #214 "cannot run tests with ember@3.3.1"
I have just tried upgrading our application to the latest ember version and received these errors when running `ember test --server`. Do let me know if I should file this in ember.js.
[code]
<img width="1438" alt="screen shot 2018-08-07 at 17 12 29" src="https://user-images.githubusercontent.com/472721/43802958-61c4e7e4-9a65-11e8-89dc-73d1116d14a8.png">
This seems to lead to further errors:
<img w

[2018-08-27 06:40] mike-north opened #215 "What's needed for 1.0?"
If this library aims to follow SemVer, the current version number indicates that the API should not be considered stable

I suspect that the current API is in fact stable. Can we call this 1.0?

[2018-08-27 06:42] Turbo87 commented on #215
It is sort of stable, but since we're still using an old mocha version I wouldn't want to call it 1.0 until we're using the latest

[2018-09-08 05:04] a13o commented on #206
@Turbo87 I've been messing around with mocha@3 in this project. I'm still a little confused as to exactly what is holding back the upgrade, likely because I'm new to this project. Here's what I've observed so far:

* The `andThen` tests seem to work fine.
* There are two tests that fail due to mocha@3's overspecify constraint (don't use `done` _and_ return a promise). These tests are easily fixabl

[2018-09-09 06:42] a13o commented on #206
I have it working and tested with the new `.only` behavior.

For the overspecification issue, I made every `it` use the `invoke` wrapper (previously fns with arity=1 were passed straight to mocha) and when invoking the function it passes a stub in place of the `done`. So now all tests coming from the ember-mocha-adapter are technically async as far as mocha is concerned and no `done` call in anyon

[2018-09-23 19:30] Turbo87 opened #218 "Require Node 6+"
Several dependency updates are at this point blocked by us still using Node 4 here. We should update the `engines` requirement in the `package.json` file and then also change CI to run on Node 6 instead.

[2018-09-23 20:29] #218 closed

[2018-09-25 17:46] omairvaiyani opened #221 "Unhelpful in figuring out which assertion failed"
When running a test case with multiple assertions, it's not always immediately obvious which assertion has failed.

Example:

[code]

Using ```ember test --serve```, the assertion is captured and displayed as a string, like so:

[code]

I'm unable to click on the error message to see which line the assertion is on. Given that the error is captured, it isn't displayed within Chrome inspector either

[2018-10-19 02:08] richard-viney opened #256 "Context.owner is undefined (and exceptions are swallowed)"
Hi,

I'm trying to use v0.14 to try out the new testing approach, and running into some problems.

The main issue is that component tests time out in the setup phase, which is happening because the `context` being passed into `setupRenderingContext()` doesn't have `owner` set (it's undefined). This results in an exception, which is swallowed (not sure by what), and there is then a timeout being re

[2018-10-19 04:52] richard-viney commented on #256
This was entirely my error - the `start-app.ts` file wasn't correctly returning the `application` object.

Is there anything worth fixing in that exception swallowing issue though?

[2018-10-19 17:10] yads commented on #214
Seems to be due to the global-resolver in ember expecting a props object in Ember 3.3
https://github.com/emberjs/ember.js/blob/v3.3.2/packages/%40ember/application/globals-resolver.js#L85

I fixed this in my branch by changing the tests/helpers/resolver.js file that's generated from here https://github.com/ember-cli/ember-cli-mocha/blob/v0.14.5/blueprints/ember-cli-mocha/files/tests/helpers/resolv

[2018-10-21 15:45] a13o opened #258 "ember-mocha tests failing with Ember 3"
In this repo if you run all the tests by visiting `http://localhost:4200/tests` they will pass. But if you try to narrow the scope with the grep param, tests will fail which rely on the resolver helper.

visiting `http://localhost:4200/tests?grep=setupComponentTest` will produce
[code]

Could be due to the registry deprecations in 2.x that were removed in 3.

[2018-10-22 09:15] Turbo87 commented on #258
can you provide a repository that reproduces this issue?

[2018-10-22 13:57] a13o commented on #258
I was seeing it on my fork which is up to date with master https://github.com/a13o/ember-mocha

[2018-11-04 13:14] buschtoens opened #266 "Add `before` and `after` hooks"
https://mochajs.org/#hooks

https://github.com/emberjs/ember-mocha/blob/5640d5dee18099ac7e2ef597f4c219a618f79958/addon-test-support/ember-mocha/setup-test.js#L70-L77

Happy to submit a PR to resolve https://github.com/kaliber5/ember-window-mock/pull/79#discussion_r230587502.

[2018-11-04 19:04] Turbo87 commented on #266
- in the majority of cases `before/afterEach()` should be preferred because they prevent leaking state between tests
- just like in `ember-qunit` the `before/after()` hooks will not have access to anything registered on the test context
- we should probably just re-export the `before/after()` hooks from `mocha`, but not do any of the other things we do for `before/afterEach()`
- PRs welcome, prefe

[2018-11-05 08:32] Turbo87 commented on #266
why not reset in `afterEach()`?

[2018-11-05 08:36] buschtoens commented on #266
Because then we would reset twice between two adjacent tests in the same module.

[2018-11-05 08:38] Turbo87 commented on #266
why? I meant do it *only* in `afterEach()`

[2018-11-05 09:00] buschtoens commented on #266
Sorry, I misunderstood. We could, but then we'd still need to do it in `before` to guarantee, that no previous test or other code leaked state.

[2018-11-05 11:01] Turbo87 commented on #266
why? do you also check if no other previous test has e.g. replaced `Promise` with something else?

it might make sense to assert and warn if you detect test leakage, but "reset everything before test" essentially just hides the real problem, which is tests leaking state.

[2018-11-05 11:19] buschtoens commented on #266
So you would rather cleanup `afterEach` test and, if possible, add an assertion in `before` or `beforeEach` to assert that the provided state is pristine? Sounds fair.

Irregardless of that, do you see a reason to not add `after` and `before`, be it for feature parity only?

[2018-11-06 13:32] Yelinz opened #267 "How to set default timeout"
I have not found any documentation on how to set the default timeout in version 0.14.0, before that you could just add ```mocha.setup({timeout: 10000})``` into the test-helper file, but now the layout of that file has changed.

Is it still possible, if yes maybe add some documentation?

[2018-11-06 13:48] Yelinz commented on #267
You can still call ```mocha.setup({timeout: 10000})``` in test-helper.js

[2018-11-06 13:48] #267 closed

[2018-11-11 07:17] a13o commented on #258
I'm not able to repro this anymore with the latest master. May have been another package bump or updating my ember-cli.

[2018-11-11 07:17] #258 closed

[2018-11-19 22:18] samselikoff opened #272 "Do I need to install chai?"
I'm diagnosing a Mirage issue for a Mocha user and trying to get a demo app setup with `ember-mocha`. I followed the README and am trying to get the sample test working:

[code]

I'm getting an error

Do I need to install `chai` for this to work? Should it have been installed as part of `ember install ember-mocha`? I'm not familiar with mocha or chai but found this confusing. Happy to PR some docs

[2018-11-19 23:02] Turbo87 commented on #272
Yes, we need to port over the ember-cli-mocha blueprints here and deprecate the other package

[2018-12-10 18:39] #212 closed

[2019-01-10 14:53] efx commented on #214
Closing as I have moved our app to recent ember-source and things worked fine.

[2019-01-10 14:53] #214 closed

[2019-01-12 03:54] arthur5005 opened #299 "Mocha does not properly install on fresh Ember 3.6 - Qunit remains and yields TestLoad failure."
Hey, I've tried this on a fresh install of Ember 3.6.

Followed docs, but visiting http://localhost:4200/tests/ you can see that both qunit and mocha up, and it has a TestLoader failure:
`Cannot read property 'length' of undefined`
![screen shot 2019-01-11 at 5 10 57 pm](https://user-images.githubusercontent.com/697846/51068946-86322d80-15da-11e9-8159-bfc5f0a6859e.png)
![screen shot 2019-01-11 at

[2019-02-18 23:19] DWC01 opened #322 "TypeError: Cannot read property 'reopen' of undefined"
Hey there,

I just upgraded to the latest `ember-mocha` and can't seem to shake the below error. I am running this test (setup outlined below) in the browser by visiting `http://localhost:4200/tests`, and when I do, I can see that this test actually passes with a green checkmark, however, it is then followed by the below error message. It also seems to be intermittent, showing up about 6/10 times

[2019-02-19 10:25] Turbo87 commented on #322
@DWC01 thanks for reporting this issue. can you click on the callstack and see what the code looks like that is trying to call `.reopen()`? it seems a little strange to me that the `willDestroy()` hook would call `reopen()` by default, so I'm assuming something is maybe overriding it 🤔

[2019-02-26 08:53] sdhull opened #336 "Qunit is not defined errors"
This is a weird one and I'm not sure if there's hope for me 😫

After converting an in-app-addon to use ember-mocha & chai instead of qunit, _and after successfully running the suite for awhile_, I recently started getting these errors
[code]

_However_ none of my colleagues nor CircleCI get these errors on this test suite.

I'm thinking there's some sort of universal config I added unknowingly to

[2019-02-27 07:01] Turbo87 commented on #336
@sdhull could you try running this with `ember test --server` and check what the code looks like that these stacktraces are referring to?

[2019-03-01 04:26] sdhull commented on #336
I think this is what you're asking about:

[code]

[2019-03-01 08:53] Turbo87 commented on #336
I assume the main app is also using Mocha/Chai?

What `ember-cli-eslint` version are you using?

[2019-03-01 19:27] sdhull commented on #336
No I haven't had time to convert the main app to use Mocha/Chai yet 😬
ember-cli-lint in the addon + the main app(s) 5.0.0

[2019-03-01 21:08] Turbo87 commented on #336
I see, I don't think it will work too have different test frameworks for app and in-repo-addon unfortunately. you will either have to port the app too, or convert the in-repo-addon to a real addon with a dedicated repository.

[2019-03-01 21:08] #336 closed

[2019-03-01 22:53] sdhull commented on #336
@Turbo87 the thing that's strange is *I'm* the only one on my team for which the addon suite fails. It runs on CircleCI with no problems, plus runs on my 2 colleagues' machines with no problems.

So my thinking is I have some setting in user-space setting that is injecting these Qunit-style linter checks.

Anyway thanks for asking questions and doing some investigation. Maybe someone else will exp

[2019-03-01 23:56] sdhull commented on #336
After having my colleague investigate some more, turns out he has the same block but for some reason it doesn't raise / fail his test run.

Out of curiosity -- how does the in-repo-addon have context of the parent app? I understand that the parent app gets it from `package.json`, from the `"ember-addon"` key...  but in the addon I can't find any reference to the main app.

Like you said

I'm curio

[2019-03-02 08:09] Turbo87 commented on #336
the problem is that ember-cli-eslint detects the test framework from the package.json of the app, and if that is still using QUnit... :wink:

[2019-03-05 00:10] sdhull commented on #336
@Turbo87 yeah I guess what I don't understand is how exactly `ember-cli-eslint` detects the test framework of the app. Our addon is not nested under the app and I couldn't find any config or anything pointing to the app(s). (We have a monorepo with 2 apps that use the addon.)

[2019-03-05 08:31] Turbo87 commented on #336
oh, I thought you were talking about an actual "in-repo-addon" in the `lib` folder of your app repository. if it's a monorepo it should work fine 🤔

the test framework detection happens at https://github.com/ember-cli/ember-cli-eslint/blob/master/index.js#L20-L27. it should be possible to set a breakpoint there and debug it, if needed.

[2019-03-06 01:27] sdhull commented on #336
OK I think I figured this out.

I tried awhile back to migrate from using `in-repo-addon` to yarn workspaces. I ended up abandoning the branch due to difficulties with `ember-fetch` however it left `/node_modules` in our repo root (for me only!). I didn't even notice the dir there because it normally doesn't affect anything but looks like there was `ember-qunit` in there which made version checker

[2019-03-18 16:00] Turbo87 commented on #211
`ember-cli-mocha` and `ember-mocha` should not be installed at the same time. `ember-cli-mocha` already brings its own `ember-mocha` dependency, but ultimately we should just use `ember-mocha` directly from now on

[2019-03-18 17:52] mike-north commented on #211
@Turbo87 any reason why we shouldn't check for invalid dependency situations in this addon's `included` hook?

[2019-03-18 18:27] Turbo87 commented on #211
no, makes sense to check it. though we need to be careful to not warn for the `app -> ember-cli-mocha -> ember-mocha` dependency scenario.

[2019-03-27 21:40] mattgraham1995 commented on #322
For anyone else looking for a solution to this issue, I had this problem when I upgraded to Ember 3.8. My qunit tests were failing with the same callstack in the afterEach block. I fixed it by adding `ember-template-compiler` to my package.json. My app uses it for a custom test helper so we import it in  `ember-cli-build.js`.

`app.import('vendor/ember/ember-template-compiler.js');`

[2019-04-13 02:51] step2yeung opened #356 "Is start() api ready to be released?"
@Turbo87 I was wondering if changes to introduce `start()`, moving away from autostart using timeout is ready to be released?

The changes in ember-exam v3.0 no longer monkey patch the ember-cli test loader, and would be able to support ember-mocha properly if the above gets released. Related to [ember-exam #238](https://github.com/ember-cli/ember-exam/issues/238)
fyi @stefanpenner

[2019-04-26 06:44] Turbo87 commented on #356
I assume you're talking about https://github.com/emberjs/ember-mocha/pull/281, right? I guess we could release that, yeah.

[2019-04-26 15:58] step2yeung commented on #356
yes please @Turbo87 !

[2019-05-11 14:29] Turbo87 commented on #356
@step2yeung released as v0.15.0

[2019-05-11 17:55] #356 closed

[2019-05-11 18:00] Turbo87 commented on #213
@CodingItWrong https://github.com/emberjs/ember.js/pull/16865 added support for standalone `ember-mocha` and the new APIs in Ember itself, unfortunately it is only available in Ember 3.6 and above.

[2019-05-11 18:00] #213 closed

[2019-05-11 18:03] Turbo87 commented on #256
@richard-viney if you can come up with a minimal reproduction of the issue we can look into it

[2019-05-11 18:06] #130 closed

[2019-05-11 18:06] #167 closed

[2019-05-11 18:07] #176 closed

[2019-05-11 18:08] Turbo87 commented on #208
this got resolved in https://github.com/emberjs/ember-mocha/pull/281

[2019-05-11 18:08] #208 closed

[2019-05-11 18:10] Turbo87 commented on #266
closing due to inactivity

[2019-05-11 18:10] #266 closed

[2019-05-11 23:23] richard-viney commented on #256
Closing as I think this was largely self-inflicted.

[2019-05-11 23:23] #256 closed

[2019-05-12 04:15] richard-viney opened #371 "start() function isn't in @types/ember-mocha"
For TypeScript projects, a type for the `start()` function is missing from `@types/ember-mocha`:

https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/ember-mocha/index.d.ts

Not sure if this should this issue belongs to this project, or on `ember-cli-typescript`.

[2019-05-17 20:58] step2yeung commented on #356
@Turbo87 Awesome! Thanks for releasing!

[2019-05-28 18:57] psbanka commented on #322
Also seems to be a "feature" of the latest Chrome Canary build (Version `76.0.3805.0`)

[2019-06-06 18:59] efx opened #384 "cannot run tests when building embroider"
I was able to sucesfully build our app with embroider, but could not run the test suite:
[code]
I think [this global reexport pattern ](https://github.com/emberjs/ember-mocha/blob/master/addon-test-support/mocha/index.js#L64-L74) is not supported with embroider. This seems similar to invalid rexports. See ef4's comment here https://github.com/embroider-build/embroider/issues/169#issuecomment-49270

[2019-06-06 21:00] ef4 commented on #384
I would expect that pattern to already work.

[This code](https://github.com/emberjs/ember-mocha/blob/54a4c9c140c4b3cb0d9bedb07940842eed653bef/index.js#L37) gets noticed by embroider and causes the actual mocha library to still be included in vendor.js. That should presumably set `window.mocha`.

So the places to look to debug this are:

1. Is mocha in vendor.js?
2. When it runs, does it notice th

[2019-06-07 13:16] efx commented on #384
Ah, interesting.
1. I don't see vendor.js in the temporary build directory or `dist/` because I don't think the build command completes successfully. I tried `ember build -e test` and it errored in the same way above. Am I missing another place to look / isolate the build using the `STAGE` env vars?
2. If I can get it building after linking ember-mocha and tweaking some lines, I'll see.
3. I only

[2019-06-07 13:34] efx commented on #384
I can build the project successfully by linking ember-mocha as of 54a4c9c140c4b3cb0d9bedb07940842eed653bef. Applying `super` in [treeForAddonTestSupport](https://github.com/emberjs/ember-mocha/blob/master/index.js#L90) seemed to have the same effect. My test suite is failing on older ember-mocha API not being found (`setupModelTest`), so I'll try to isolate this in a new application.

[2019-06-07 18:49] DWC01 commented on #322
Hey @Turbo87 , sorry for delayed response here, actually just picking up where I left off now with testing this Ember project..  In this case I upgraded `ember-mocha` to `v0.15.1` (also removed `ember-cli-mocha` per the upgrade instructions on the [README](https://github.com/ember-cli/ember-cli-mocha)) and everything seems to be working as expected. I still haven't narrowed down what caused the is

[2019-06-07 18:49] #322 closed

[2019-06-09 15:29] ef4 commented on #384
Oh yes. In the temporary build directory, look for `node_modules/@embroider/synthesized-vendor`. It should contain the mocha js file, and it should also mention that file in its package.json under `implicit-scripts`.

[2019-06-10 15:51] efx commented on #384
I did see the `mocha` package there. Here is the revelant snippet from that package.json:
[code]

[2019-06-10 16:41] efx commented on #384
The error only seems to appear in ember-mocha@0.14. You can see in the following [repo](https://github.com/efx/embroider-mocha-384/compare/working...broken?expand=1). I will be upgrading our application to ember-mocha@0.15 anyways, so I will close this issue because I don't see much value to supporting older versions of ember-mocha + embroider.

[2019-06-10 16:41] #384 closed

[2019-06-10 17:51] ef4 commented on #384
Thanks, I can see now why the earlier version of ember-mocha wasn't working. It did:

[code]

I don't think the ES module spec supports that. Even if a global `mocha` binding is available in the ambient scope, you can't reexport it like that. Instead you'd need to make a local binding for it first.

[2019-06-16 12:16] Turbo87 commented on #371
I don't know who maintains these typings, but it's not us. I'm sure PRs to the typings are welcome though :)

[2019-06-16 12:16] #371 closed

[2019-06-18 22:41] chbonser commented on #322
I've seen this a few times (most recently today). Restarting chrome resolved the issue.

[2019-06-26 00:51] allthesignals commented on #322
Seeing this same issue as well, but using ember-qunit not ember-mocha. Restarting Chrome fixed it 🤔

[2019-06-27 20:57] zubeir68 commented on #322
Restarting chrome did it for me :)) :+1:

[2019-08-23 17:16] knownasilya opened #418 "Catching render error"
Looking to get this working: https://github.com/microstates/ember/pull/162/files#diff-bc5755dd336c5e3e113096a0f45036e8R105

but it doesn't seem to want to work any more after migrating to latest ember-mocha.
Error: `expected [Function] to throw an error`

[2019-08-23 17:20] #418 closed

[2019-09-05 18:54] brunoocasali opened #430 "Setting same properties name causing tests fail"
Hello everyone!

After digging into an annoying problem I discovered what is causing the bugs in valid tests...
I think after we use a property name this name is invalid to be used again...

This is the helper code:

[code]

This is my helper test:
[code]

If I remove the `beforeEach`, and pass the same property directly the problem still happens

[code]
This is the error:
![image](https://user-im

[2019-09-30 13:59] efx commented on #430
@brunoocasali what version of ember-source do you see this on?

[2019-10-04 18:42] simonihmig commented on #430
I can confirm this, seeing it with Ember 3.13!

[2019-10-11 09:58] HenryVonfire commented on #430
I've found out that setting the property without `set` works, like this:

[code]

[2019-10-17 20:48] efx commented on #430
FWIW, I have verified this doesn't happen in ember-qunit's `setupRenderingTest`: https://github.com/emberjs/ember-qunit/compare/master...efx:bump-ember-and-test?expand=1

[2020-02-05 19:16] #163 closed

[2020-02-14 21:20] jbryson3 opened #523 "Does ember-mocha provide blueprints for ember-cli"
I'm transitioning from ember-cli-mocha to ember-mocha, and now I'm manually updating my blueprints to be compliant with the latest ember-mocha. Should I expect that `ember-mocha` provides its own blueprints for `ember generate`?

[2020-02-21 09:33] Turbo87 commented on #523
I assume you're talking about the blueprints for the test files? Those are maintained in the ember-source project itself and have supported ember-mocha for quite some time. (see https://github.com/emberjs/ember.js/blob/7e09bb2ce2d8a5b1b9ace1b07782bbade039587d/blueprints/test-framework-detector.js#L28)

[2020-02-21 09:33] #523 closed

[2020-04-01 15:36] bmoellers opened #544 "Error: Please pass the subject owner to beforeEach()"
I just upgraded ember to 3.4 and thus had to change over from ember-cli-mocha to ember-mocha but this error keeps popping up on component tests only using:

[code]
How do I fix this... I tried passing hooks in to to setupRenderingTest and then using `hooks.beforeEach` but hooks is undefined unless I missed some step there.

[2020-04-01 15:48] Turbo87 commented on #544
[code]

⬆️  should in theory work 🤔

[2020-05-12 20:15] lolmaus commented on #430
Should be fixed now thanks to @kobsy?

[2020-05-13 11:54] rreckonerr opened #561 "Flaky `Cannot assign to read only property 'owner' of object '#<Context>'`"
`Cannot assign to read only property 'owner' of object '#<Context>'`

I'm upgrading test suit from `ember-cli-mocha` to `ember-mocha` 0.15.1 and get randomly failing tests all over again and those tests look fine when I'm running them separately. Is there a way to find out what's causing this error?

[2020-05-14 07:46] rreckonerr commented on #561
Mentioned error appears because of some tests being started before the previous one is finished, which results in tests getting wrong  originalContext and not being able to clean it up properly. Is my assumption correct? Any ideas how can I debug this further?
[code]

![image](https://user-images.githubusercontent.com/30495731/81906827-86c44500-95cf-11ea-8f3e-80408c39bc60.png)

Example in the scre

[2020-05-16 21:20] rreckonerr commented on #132
@efx Just hit the same problem. Can you please share the reproduction links again? The above mentioned ones seem to be broken.

[2020-06-01 11:54] efx commented on #132
@rreckonerr I deleted my fork and that work; apologies! I will take a look later today to see if I have a copy locally. I reduced the example to the most basic form. You should be able to see the issue by simply nesting the 2nd describe in the first one. For the record, our team avoids nesting `describe` blocks in our ember application because of this.

[2020-10-14 22:48] jasonworden commented on #206
@a13o Where (what file) are you making these changes?
`context.it.only =`

[2020-10-15 13:32] a13o commented on #206
@jasonworden I think this repo has updated a bunch since I was last looking into this issue. My old PR is still viewable here: https://github.com/emberjs/ember-mocha/pull/216

There was a ` vendor/ember-mocha/ember-mocha-adapter.js` containing all this package's monkey patches for mocha behavior, and I believe the line you're referencing was there.

I see you've since found it in your edit, just w

[2021-02-17 15:13] yads opened #638 "Upgrade path"
I've been working on updating this repository with several updates:

1. update dependencies including ember-test-helpers and ember-source
2. add ability to pass down options to setupContext
3. Add a rudimentary UI to the test page

These are all updates I've made in my fork, specifically the ember-mocha-compat branch https://github.com/yads/ember-mocha/tree/ember-mocha-compat

The first 2 features

[2021-04-02 14:08] bmoellers opened #655 "Ember Upgrade: global is not defined"
So awhile ago I tried to upgrade from 2.16 to 3.4 and got unit tests basically running but not working. However being an active application, we had to abandon the upgrade and get "real" work done (yes I quoted real because to me as a developer getting up to the latest version is as important as new features but I lost that battle). So now after a security review they are asking us to upgrade from

[2021-04-02 14:09] bmoellers commented on #544
This did work for ember 3.4. Had other issues when I tried ember 3.25 but I added a new question for help on this so I feel like we should close this.

[2021-04-02 14:09] #544 closed

[2021-06-03 16:01] notchris commented on #561
Can confirm this issue occurs

[2022-01-27 18:15] mileslane commented on #206
Two years later, growl is still showing up as a critical vulnerability.  I guess we won't remediate it since this is a dev dependency.

[2022-03-04 02:39] arthur5005 opened #691 "Not compatible with Ember 4+"
Getting an error:
[code]
Because of https://deprecations.emberjs.com/v3.x/#toc_old-deprecate-method-paths, you need to upgrade the @ember/test-helpers to the latest version, which has dealt with the deprecation

I'm currently forcing the resolutions on that package in my project.

[code]

[2022-04-08 12:57] gedaiu commented on #638
Are there any updates related to this thread? I opened a new pr for mocha 9

[2022-04-08 15:45] yads commented on #638
Not sure, @rwjblue and I came up with a plan where ember-mocha would take a completely different approach than what it has up to this point, but I feel the change is too drastic. I feel like now that Ember has dropped support for IE we can use the Proxy approach that I originally developed, but again I'm not a maintainer and for our Ember project at our company we continue to use my fork.

[2022-04-11 07:38] gedaiu commented on #638
@yads I am all ears... I would love to see this package more maintained...

[2022-04-11 15:53] yads commented on #638
Best I can offer at the moment is my fork :)

[2022-06-09 17:05] kushagra-singh-vineti opened #693 "#ember-testing-container is alway empty and shows no preview."
Hey!

I came across this issue working with my acceptance tests, but when they are being executed, there is no preview shown for the application.
<img width="1994" alt="Screenshot 2022-06-09 at 10 32 55 PM" src="https://user-images.githubusercontent.com/79080348/172903660-283bd23c-3985-4d8f-8017-12bea416ceaf.png">

Maybe the issue is very similar to the issue outline over [here](https://github.com